In [14]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; fo
nt-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:130px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size = 5, color = 'red'> ch05 함수 </font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(같은 이름의 함수를 매개 변수의 개수나 타입을 달리해서 사용) 불가 
    : 자바에서는 
        void print(int a) {system.out.println(a);}
        void print(string a) {system.out.println(a);}
      위와 같이 함수에 기능을 추가할 수 있는데 파이썬은 불가능하다.
    : a=10 ; a=20 ; 처럼 (기능성 처리 변수) 의 할당의 개념으로 생각하자
- 함수의 정의
```
def 함수명(매개변수1, 매개변수2, ......매개변수n) :
    함수 호출 시 실행할 내용 : 명령어 1
    함수 호출 시 실행할 내용 : 명령어 2
    ......
    함수 호출 시 실행할 내용 : 명령어 n
```

# 1절 함수의 정의 및 사용

## 1.1 함수 정의

In [2]:
# 함수의 정의
def my_msg(x=1, msg='공란') : # msg를 x번 출력하는 함수 
    for i in range(x) :
        print(msg)
# 함수의 사용 / 함수의 호출
my_msg(3,'황금독수리 온 세상을 놀라게 하다')

황금독수리 온 세상을 놀라게 하다
황금독수리 온 세상을 놀라게 하다
황금독수리 온 세상을 놀라게 하다

In [54]:
mmsg = my_msg # 함수형 언어! 함수 이름의 재정의 (함수형 변수 선언이 가능하면 함수형 언어라고 하며 파이썬과 자바스크립트가 있다.)
mmsg(1, '이게 되네')

이게 되네

In [55]:
type(my_msg), type(mmsg)

(function, function)

In [56]:
id(my_msg), id(mmsg)

(2434439049520, 2434439049520)

In [5]:
print('Hello') # 파이썬 내장함수 : import 없이 사용이 가능하다.
print = 5
# print('Hello')
del print # 변수를 제거한다.
print('Hello'), print(type(print))

Hello
Hello
<class 'builtin_function_or_method'>

(None, None)

In [58]:
mmsg()
del mmsg # 기능성 변수 할당은 제거가 되네?
my_msg()

공란
공란

- 함수명으로 변수를 할당하면 함수가 변수로 다시 참조하면서 함수가 사라진다.
- 이 변수를 del 한다고 해서 함수가 살아나지 않음 : 기존 정보가 모두 삭제된다. (파이썬 내장함수가 아니어서 불가능하다.)

In [9]:
# 함수 정의
def my_hello() :
    print('hello, Python')
    print('hello, World')
# 함수가 정의되면 그 이후 반드시 테스트를 진행해야한다. 내 화면이 아닌 다른 사용자의 화면에서 사용이 가능한가 체크해야한다.
def my_hello(cnt=1) :
    for i in range(cnt) :
        print('hello, Python')
        print('hello, World')

In [12]:
# 함수의 사용 == 함수의 호출
my_hello(2)

hello, Python
hello, World
hello, Python
hello, World

In [13]:
my_hello  # __main__. -> __main__ 의 함수 my_hello(cnt = 1)이다

In [14]:
__name__ # __main__ : 지금 실행중인 메인 파일

'__main__'

### * 자체 제작 함수의 테스트

In [15]:
# 아래와 같은 구문을 추가하여 확인이 가능하다.
if __name__ == '__main__' :
    my_hello(2)
    
# 함수 기능을 구현하고 해당 커널에서 실행할 때,
# 해당 커널의 __name__ == '__main__' 이기 때문에
# 해당 커널에서는 실행되지만 다른 페이지에서는 실행되지 않음.

hello, Python
hello, World
hello, Python
hello, World

In [4]:
import ch05 # ch05 모듈을 load
dir(ch05)
ch05.my_hello()

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'my_hello']

In [1]:
from ch05 import my_hello # ch05 모듈 속 my_hello() load
my_hello(5)

hello, Python
hello, World
hello, Python
hello, World
hello, Python
hello, World
hello, Python
hello, World
hello, Python
hello, World

## 1.2 docstring

In [6]:
def my_function() :
    '''
    함수의 첫 라인데 독스트링을 포함할 수 있습니다. 
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shirt + tab 으로 독스트링을 볼 수 있음)
    '''
    pass

In [8]:
print(my_function.__doc__) # 독스트링만 보는 방법 : .__doc__

    함수의 첫 라인데 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shirt + tab 으로 독스트링을 볼 수 있음)

In [53]:
def fibonacci(n) :
    '''
    피보나치 수열 중 n 보다 작지만 가장 큰 값을 체크할 수 있으며 그 이전까지의 수열을 모두 보여줌.
    '''
    a,b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행
fibonacci(10) 
# a,b : 함수 속 변수들은 함수의 인자로 함수 밖에서 체크가 불가능하다. 로컬 영역에 있기 때문에.

0 1 1 2 3 5 8

## 1.3 지역변수(local var)와 전역변수(global var)

In [57]:
global_var = 100 # 전역변수
def func1() :
    print('함수 안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [62]:
def func2() :
    local_var = 200 # 지역변수
    print('함수 안 :', local_var) 
func2()
# print('함수 밖 :', local_var) # NameError: name 'local_var' is not defined

함수 안 : 200

In [91]:
g_var = 100 # 전역변수
def func3() :
    g_var = 200 # 지역변수를 할당(임시변수로 함수 변수 영역에 할당)
    print('함수 안 :', g_var) # 지역변수를 호출함

func3()
print('함수 밖 :',g_var)

함수 안 : 200
함수 밖 : 100

In [97]:
# 렉시컬 특성 lexical 
g_var = 100 # 전역변수
def func4() :
    print('함수 안 :', g_var) # local variable 'g_var' referenced before assignment : 
    g_var = 200 # 지역변수
    print('함수 안 :', g_var)
    # 변수 선언 먼저 컴파일 이후 절차에 따라 진해됨. 
    #이에 따라 g_var를 4번 줄에서 g_var를 변수로 선언,할당 하게되면 g_var라는 변수가 로컬 심볼 테이블에 우선 [선언]되고 
    # 이에 따라 3번 줄에 선언 오류가 발생할 수 밖에 없음.
    
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [102]:
# 렉시컬 특성 lexical 
g_var = 100 # 전역변수
print('함수 밖 :', g_var)
def func4() :
    global g_var # func4 함수 내의 g_var는 전역변수임을 선언
    print('함수 안 :', g_var)
    g_var += 200 
    print('함수 안 :', g_var)
func4()
print('함수 밖 :', g_var)

함수 밖 : 100
함수 안 : 100
함수 안 : 300
함수 밖 : 300

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [4]:
foo = 'a' # 전역변수, 스칼라 변수
id(foo)

1962723272624

In [17]:
def func1(f) : # 매개변수는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f*3 # f에 3f를 재할당한다. : 주소가 바뀐다!
    print('After :', f, 'id(f) :', id(f))

print(foo)
id(foo), id(func1(foo)), id('aaa')

a
Before : a id(f) : 1962723272624
After : aaa id(f) : 1960653623280

(1962723272624, 140714894454464, 1960682716784)

In [3]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 객체 일 경우

In [10]:
L = [1, 2, 3,]
id(L)

1960682880640

In [8]:
def func2(f) : 
    # 매개변수는 지역변수 : 리스트 등 여러 데이터가 담겨있는 객체는 스칼라 객체보다 상대적으로 무거워서 할당을 할 때 다른 주소로 할당하면 성능의 저하가 발생하기 때문에
    # 같은 주소를 참조시킨다. 원본데이터를 보존하려면 .copy()를 하여 새로운 객체를 만드는 것이 안전하다.
    print('Before :', f)
    f.append(4)
    print('After  :', f)
func2(L), id(L), L

Before : [1, 2, 3]
After  : [1, 2, 3, 4]

(None, 1960653497664, [1, 2, 3, 4])

In [16]:
def func3(f) : # 매개변수는 지역변수
    k = f.copy()
    print('Before :', k, id(k))
    k.append(4)
    print('After  :', k, id(k))
func3(L), id(L), L

Before : [1, 2, 3] 1960683092032
After  : [1, 2, 3, 4] 1960683092032

(None, 1960682880640, [1, 2, 3])

# 2절 함수의 실행결과를 반환하는 return

In [59]:
def fibonacci_print(n) :
    '''
    매개변수도 들어온 n값 미만의 피보나치 수열을 출력
    ex. n = 10이면 0, 1, 1, 2, 3, 5, 8 출력
    '''
    a,b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행
fibonacci_print(10) 

def fibonacci_return(n) :
    '''
    매개변수도 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n = 10 이면 [0, 1, 1, 2, 3, 5, 8] return
    '''
    fibo = []
    a,b = 0, 1
    while a < n :
        fibo.append(a)
        a, b = b, a+b
    return fibo
fibonacci_return(10) 

def fibo(n) :
    '''
    매개변수 n번째 피보나치 수를 return
    '''
    answer = [0] * (n + 1)
    answer[0] = 0 ; answer[1] = 1
    for i in range(2, n+1) :
        answer[i] = answer[i-1] + answer[i - 2]
    return answer
fibo(10)

0 1 1 2 3 5 8

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [82]:
x = fibonacci_print(100)
print(x)
print(type(x)) # 리턴 값이 없고 프린트로 보여주는 용도. x는 None타입

0 1 1 2 3 5 8 13 21 34 55 89
None
<class 'NoneType'>

In [63]:
y = fibonacci_return(100)
print(y)
print(type(y))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [68]:
def swap(a, b) :
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return b, a # 튜플 형태로 반환

In [78]:
x, y = 5, 10
print(f'''
함수 실행 전 
x = {x:2}, y = {y:2}''')
x, y = swap(x,y)
print(f'''
함수 실행 후 
x = {x:2}, y = {y:2}''')

함수 실행 전
x =  5, y = 10

함수 실행 후
x = 10, y =  5

# 3절 함수의 매개변수 ★
## 3.1 기본 값을 갖는 매개변수

In [93]:
def make_url(ip, port = 80) :
    return f'http://{ip}:{port}' # http://www.naver.com:80
    
def make_url2(port = 80, ip) : # on-default argument follows default argument : 
    # 순서인수 : 디폴트 값을 갖지 않는 매개변수가 앞으로 // 디폴트 값이 있는 매개변수가 뒤로
    return f'http://{ip}:{port}' # http://www.naver.com:80

SyntaxError: non-default argument follows default argument (539119654.py, line 4)

In [90]:
make_url('localhost')

'http://localhost:80'

In [96]:
print(make_url('localhost', 8080))
print(make_url(port = 8090, ip = 'localhost'))

http://localhost:8080
http://localhost:8090

In [86]:
make_url('codeby.com')

'http://codeby.com:80'

## 3.2 변경 가능한 객체를 기본변수로 갖는 매개변수
- 기본 변수가 스칼라 변수일 때
- 기본 변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [112]:
i = 5
# 기본 값을 갖는 매개변수가 스칼라 변수일 때 : arg의 기본 값은 함수가 정의 되는 시점의 값으로 고정 // 스칼라 데이터를 참조하는 변수의 할당 개념
def func2(arg = i) :
    print('arg = :',arg)

In [114]:
i = 50
func2()

arg = : 5

In [129]:
list_ = []
# 기본 값을 갖는 매개변수가 변경 가능한 객체(데이터구조)일 때 : arg의 기본 값은 호출하는 시점에 따라 실시간 변경 // 리스트의 주소를 참조하는 변수의 할당 개념
def func3(data, L=list_) :
    '''data를 L에 append'''
#    print(f'data = {data}, L = {L}')
    L.append(data)
    return L

In [130]:
print(func3(10)) # list_ 가 수정 : [10]

[10]

In [146]:
list_
print(func3(20, [10]))

[10, 20]

In [147]:
list_

[10, 20]

In [158]:
def func4(data, L=None) :
    if L == None :
        L = []
    L.append(data)
    return L

In [159]:
list_ = [15]
print(func4(10))
print(func4(10, list_))

[10]
[15, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

매개변수의 개수는 알 수 없음.
이 때 모든 인수를 하나의 튜플로 만들어서 처리하면 아무리 많은 매개변수도 처리가 가능하다.

In [170]:
# add(1,2,3,4,5,....) : 매개변수가 늘어나도 모두 더하는 함수를 구현하려고 한다. 이 때 사용하는 개념 가변 인자.
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b) :
    return a+b
def add(a, b, c) :
    return a+b+c

In [171]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [181]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args) :
    '''전달받은 매개변수들의 합을 return'''
#    print('args =', args)
    result = 0
    for data in args :
        result += data
    return result

In [184]:
print(add(1))
print(add(1,2))
print(add(1,2,3))
print(add(1,2,3,9))
print(add(1,2,3, 9, 10))

1
3
6
15
25

In [185]:
subject = ('python','oracle','DL','ML')
'/'.join(subject)

'python/oracle/DL/ML'

In [ ]:
concat('python','oracle','DL','ML','/')
=> python/oracle/DL/ML #print('hello','world',sep'/')

In [190]:
def concat(*subject, sep) :
    return sep.join(subject)

In [191]:
concat('python','oracle','DL','ML','/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [192]:
# 해결책1 : 매개변수 이름을 지정해서 호출 <<BAD>>
concat('python','oracle','DL','ML', sep = '/')

'python/oracle/DL/ML'

In [208]:
# 해결책2 : 반드시 기본값을 갖는 키워드인수로 사용
def concat(*subject, sep=' ~ ') :
    return sep.join(subject)

In [209]:
concat('python','oracle','DL','ML')

'python ~ oracle ~ DL ~ ML'

In [195]:
concat('python','oracle','DL','ML','/') # 마지막 인자가 구분자여야하는데 여기서는 문자열로 구분. ** print() 함수 작동원리의 결

'python ~ oracle ~ DL ~ ML ~ /'

In [206]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep = ' ! ', *subject) : # 순서 인수 / 키워드인수 / 튜플 매개변수
    return sep.join(subject)

In [207]:
concat(' / ', 'python','oracle','DL','ML')

'python / oracle / DL / ML'

순서인수 -> 키워드 인수 -> 튜플 매개변수

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변 키워드 인수 처리

In [240]:
def func5(**kwargs) :
    '''키워드 인수들을 딕셔너리 형태로 받아서 가변 키워드 인수를 처리한다
    키 : name, age, address'''
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', 30))
    print('주소 :', kwargs.get('address', '서울특별시 어딘가에 살고 있습니다.'))

In [241]:
func5(name = '홍길동', age = 30, address = '신림동')

<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [242]:
func5(name = '김길동')

<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울특별시 어딘가에 살고 있습니다.

## 3.5 함수 정의 시 매개변수 순서
- 순서인수 > 튜플매개변수(*args) > 키워드인수(매개변수 이름 명시) > 딕셔너리 매개변수(**kwargs) // 인수나 매개변수나..

In [6]:
def func6(a,b, *c, **d) :
    print('순서 인수 :', a)
    print('순서 인수 :', b)
    print('튜플 인수 :', c)
    print('딕셔너리 인수 :', d)

In [7]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name = '홍길동', age = 30, address = '서울')

순서 인수 : 10
순서 인수 : 20
튜플 인수 : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [21]:
def func7(a, b, *c, d='기본값', **e) :
    print('순서 인수 :', a)
    print('순서 인수 :', b)
    print('튜플 인수 :', c)
    print('키워드 인수(기본값을 갖는 인수, 호출 시 매개변수 이름 반드시 명시) :', d)
    print('딕셔너리 인수 :', e)

In [23]:
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, d='딴거', name='홍길동', age=30, address='서울')

순서 인수 : 10
순서 인수 : 20
튜플 인수 : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드 인수(기본값을 갖는 인수, 호출 시 매개변수 이름 반드시 명시) : 딴거
딕셔너리 인수 : {'name': '홍길동', 'age': 30, 'address': '서울'}

## 3.6 매개변수(인수)의 언패킹
### 3.6.1 튜플 매개변수(인수) 언패킹
- 튜플 언패킹 : 함수 호출 시 매개변수 앞에 * 붙임
- cf) 튜플 패킹 : 함수 정의 시 매개변수 앞에 * 붙임(튜플매개변수) // ** 매개변수 :딕셔너리  키 1번 값 2번 이해

In [9]:
def add(*args) :
    print(args)
    tot = 0
    for num in args :
        tot += num
    return tot

In [10]:
add(1,2,3,4)

(1, 2, 3, 4)

10

In [7]:
numbers = (1,2,3,4)
add(*numbers) # 함수 정의 시 매개변수 *args 는 튜플 패킹, 함수를 호출할 때 매개변수 *args는 언패킹
add(*numbers, 1, 2, 3, 4, 5) # ?? 이게 되네

25

### 3.6.2 딕셔너리 매개변수(인수) 언패킹
- *args 한 번 하면 키 **args 두 번 하면 밸류
- 딕셔너리 언패킹 : 함수 호출 시 매개변수 앞에 ** 붙임  // ** 매개변수 :딕셔너리  키 1번 값 2번 이해
- cf) 딕셔너리 패킹 : 함수 정의 시 매개변수 앞에 ** 붙임(튜플매개변수)

In [11]:
def func5(**data) :
    print(type(data))
    for key, item in data.items() :
        print(f'{key} : {item}')

In [12]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name : 홍길동
age : 30
address : 신림

In [13]:
custominfo ={'name' : 'KilDong',
            'age' : 30,
            'address' : 'Seoul Gangnam',
            '이런저런' : '데이터',
            'score' : 900,}
func5(custominfo) #func5() takes 0 positional arguments but 1 was given : 딕셔너리 데이터를 패킹하지 않아 크게 1덩어리의 순서변수로 전달

TypeError: func5() takes 0 positional arguments but 1 was given

In [14]:
custominfo ={'name' : 'KilDong',
            'age' : 30,
            'address' : 'Seoul Gangnam',
            '이런저런' : '데이터',
            'score' : 900,} 
func5(*custominfo) # func5() takes 0 positional arguments but 5 were given : 1번만 패킹되어 키값 5개만 전달되어 5개 순서인수가 전달

TypeError: func5() takes 0 positional arguments but 5 were given

In [16]:
custominfo ={'name' : 'KilDong',
            'age' : 30,
            'address' : 'Seoul Gangnam',
            '이런저런' : '데이터',
            'score' : 900,} 
func5(**custominfo)

<class 'dict'>
name : KilDong
age : 30
address : Seoul Gangnam
이런저런 : 데이터
score : 900

# 4절 람다식 lambda
- return 한 줄 짜리 작은 익명 함수
## 4.1 람다식 연습
      - lambda 매개변수 : 매개변수 명령문
      - 사용할 때는 1. 기능성 변수에 할당하거나
                  2. (람다함수)(매개변수) 형태로 사용하거나

In [6]:
# def add(a,b) :
#     return a+b
# add(3,4)

add = lambda a,b : a+b
add(3,4), add(5,6)
type(add)

function

In [7]:
(lambda a,b : a+b)(3,4)

7

In [32]:
A = ['1','2','3','4','5']
A2 = list(map(lambda x : int(x), A))
A2

[1, 2, 3, 4, 5]

In [5]:
a3 = [[1,3,5],[1,2,3],[1,1,4]]
print(sorted(a3, key = lambda x : x[2], reverse = True))
print(sorted(a3, key = lambda x : x[1], reverse = True))
print(sorted(a3, key = lambda x : (x[0], x[1]), reverse = True))

[[1, 3, 5], [1, 1, 4], [1, 2, 3]]
[[1, 3, 5], [1, 2, 3], [1, 1, 4]]
[[1, 3, 5], [1, 2, 3], [1, 1, 4]]

### 4.1.1 람다식 연습문제:

In [10]:
# ex1. 매개변수로 들어온 값이 짝수면 "짝수" 홀수면 "홀수" return
(lambda x : "짝수" if x%2==0 else "홀수")(15)

'홀수'

In [2]:
# ex2. 두 매개변수의 차이를 return
print((lambda a,b : abs(a-b))(1,2))
print((lambda a,b : a - b if a-b > 0 else b - a)(1,2))

1
1

In [4]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액 return, 음수면 'negative'
(lambda change : change if change > 0 else 'negative')(-500)

'negative'

In [11]:
# ex4. 정수를 입력 받아 80점 이상 100점 이하는 'A', 60점 이상은 'B', 60점 미만은 '재시험' 그외에는 '유효하지 않음'
print((lambda x : '유효하지않음' if (x>100 or x<0) else ('A' if x>= 80 else ('B' if x>=60 else '재시험')))(50))
# [True1] if [Condition1] else [True2] if [Condition2] else [False]
print((lambda x : '유효하지 않음' if x>100 or x<0 else 'A' if x>= 80 else 'B' if x >=60 else '재시험')(-50))
ex4 = lambda x : '유효하지 않음' if x>100 or x<0 else \
             'A' if x>= 80 else \
             'B' if x >=60 else \
             '재시험'
ex4(100), ex4(75), ex4(-100), ex4(50)

재시험
유효하지 않음

('A', 'B', '유효하지 않음', '재시험')

In [12]:
# ex5. safe_index 를 람다식으로
# def safe_index(vector, data) :
#     if data in vector :
#         return vector.index(data)
#     else:
#         return -1
(lambda vector, data : vector.index(data) if data in vector else -1)([1,2,3], 2)

1

## 4.2 함수의 매개변수에 람다식 이용
def fun(fun, data) : 
    명령어
### (1) map(key=(lambda x: 명령어), 적용 대상)

In [9]:
def map_template(func , lst=[]) :
    '''
    lst의 모든 요소를 func()를 적용시켜 return
    [func(l) for l in lst]
    '''
#     result = []
#     for l in lst :
#         result.append(func(l))
    return [func(l) for l in lst]

In [ ]:
lambda x : x*2

In [13]:
list_data = list(range(1,11))
print(id(list_data))
def x_2(x) :
    return x*2
print(map_template( x_2, list_data), id(map_template(x_2, list_data)))

2246689064896
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20] 2246726870272

In [14]:
# 리스트 데이터를 가공하는 방법 1. map_template를 활용
list_data = list(range(1,11))
map_template(lambda x: x*2 , list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
# 리스트 데이터를 가공하는 방법 2. 리스트 컴프리핸션
[x * 2 for x in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
# 리스트 데이터를 가공하는 방법 3. map() 파이썬 내장 함수 활용
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
for data in map(lambda x : x*2, list_data) :
    print(data, end = ' ')

2 4 6 8 10 12 14 16 18 20

#### map and lambda 예제

In [ ]:
'''
예제 1. 아래와 같은 price 데이터를 [5000, 800, 1000, 6000] 형태로 수정하여 반환하시오
'''
price = ['5,000', '800', '1000', '6,000']
print(list(map(lambda x: int(x.replace(',','')), price)))

'''
예제 2. member1 = [{'name' : '홍길동', 'birth' : '2000-01-01', },
                    {'name' : '신길동', 'birth' : '1998-12-31'}]
                    위 형태를 아래와 같이 수정한다.
                    
                    #     {'year' : int(member1['birth'].split('-')[0]),
    'month' : int(member1['birth'].split('-')[1]),
    'day' : int(member1['birth'].split('-')[2])} #
    
member2 = [{'name' : '홍길동', 'year' : 2000, 'month' = 1, 'day':1 },
                    {'name' : '신길동', 'year' : 1998, 'month' = 12, 'day':31}]
'''

In [72]:
member1 = [{'name' : '홍길동', 'birth' : '2000-01-01', },
                    {'name' : '신길동', 'birth' : '1998-12-31'}]
def member_func(member) :
    return {'name' : member.get('name'), 'year' : int(member['birth'].split('-')[0]), 'month' : int(member['birth'].split('-')[1]),'day' : int(member['birth'].split('-')[2])}

In [76]:
ex2 = lambda member : {
                    'name' : member.get('name'), 
                    'year' : int(member['birth'].split('-')[0]), 
                    'month' : int(member['birth'].split('-')[1]),
                    'day' : int(member['birth'].split('-')[2])}

print(list(map(ex2,member1)))

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}, {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [86]:
member1 = [{'name' : '홍길동', 'birth' : '2000-01-01', },
                    {'name' : '신길동', 'birth' : '1998-12-31'}]

checkpoint = list(map((lambda x : {
                    'name' : x['name'], 
                    'year' : int(x['birth'][:4]), 
                    'month' : int(x['birth'][5:7]), 
                    'day' : int(x['birth'][8:])}), member1
                    )
                )
print(checkpoint)

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}, {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

#### (중요) 연습문제 3 선생님 풀이
'''
예제 3. member2 를 member1 로 바꿉니다.
'''

In [140]:
# 선생님 풀이

# 1 접근 : 더 간단한 풀이가 있을 거 같음
def join_date(data) :
    print('{}-{:02}-{:02}'.format(data.get('year'),
                                 data.get('month'),
                                 data.get('day')))
    
join_date({'year' : 2000, 'month' : 1, 'day' : 1})

2000-01-01

In [146]:
# 선생님 풀이

# 2 : format 형태에서 '{year}'.format(year = data.get('year')) 형태를 사용해서 언패킹한 딕셔너리를 활용해 풀이
# year = data.get('year'), month = data.get('month'),day = data.get('day') : 언패킹한 딕셔너리 형태와 동일하다.
def join_date(data) :
    print('{year}-{month:02}-{day:02}'.format(**data))
    
list(map(lambda data : {'name' : data.get('name'), 
                        'birth' :'{year}-{month:02}-{day:02}'.format(**data)},member2))
#join_date({'year' : 2000, 'month' : 1, 'day' : 1})

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [118]:
# {'year' : 2000, 'month' : 1, 'day' : 1} => {'birth' : '2020-01-01'} 리턴 함수 설계
def join_date(data) :
    return '-'.join([str(data.get('year')), 
                 (str(data.get('month')) if len(str(data.get('month'))) == 2 else '0'+str(data.get('month'))),
                (str(data.get('day')) if len(str(data.get('day'))) == 2 else '0'+str(data.get('day')))])

ex3 = lambda data : {'name' : data.get('name'), 'birth' : '-'.join([str(data.get('year')), 
                 (str(data.get('month')) if len(str(data.get('month'))) == 2 else '0'+str(data.get('month'))),
                (str(data.get('day')) if len(str(data.get('day'))) == 2 else '0'+str(data.get('day')))])}

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [119]:
list(map(ex3,member2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [80]:
member2 = [{'name' : '홍길동', 'year' : 2000, 'month' : 1, 'day':1 },
                    {'name' : '신길동', 'year' : 1998, 'month' : 12, 'day':31}]

#### (중요) 연습문제3 나의풀이

In [84]:
merge = lambda x : {'name' : x['name'], 
                    'birth' : str(x['year']) + '-' + str(x['month'] if len(str(x['month'])) == 2 else '0'+str(x['month']))
                    + '-' + str(x['day'] if len(str(x['day']))==2 else '0' + str(x['day']))
                   }
ex3 = list(map(merge, member2))
print(ex3)

[{'name': '홍길동', 'birth': '2000-01-01'}, {'name': '신길동', 'birth': '1998-12-31'}]

In [120]:
list(map(lambda data : {'name' : data.get('name'), 
                        'birth' : str(data['year']) + '-' 
                        + (str(data['month']) if len(str(data['month']))==2 else '0'+ str(data['month'])) + '-' 
                        + (str(data['day']) if len(str(data['day']))==2 else '0'+ str(data['day']))},member2
        )
    )

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter(lambda x : 참거짓 조건문, 대상 데이터구조)
- map 처리 : [10,200,30000,40,500] => [20, 400, 60000, 80, 1000] (벡터의 모든 데이터를 가공)
- filter 처리 : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
* cf. 리스트 컴프리핸션

In [171]:
def filter_template(func, lst=[]) :
    result = []
    for i in lst :
        if func(i) :
            result.append(i)
    return result

def evenChk(value) :
    return value%2==0

lst = [1,2,3,4,5]

print(list(filter(lambda x : not x%2, [1,2,3,4,5])))
filter_template(lambda x : not x%2, lst)

[2, 4]

[2, 4]

### (3) sort(key = lambda x : 기준값) : 
        여기서 기준값을 참조한 후 취향껏 수정이 가능하다.. 리스트 속 0번째 인자를 주석으로 끌고와서 뜯어보면 좋다

In [175]:
p = [9, 2, 7]
p.sort(key = lambda x : x%3)
p

[9, 7, 2]

In [198]:
pairs = [(2,'two'), (1, 'one'), (4, 'four'), (3 ,'three'),(5,'abcde')]
pairs.sort() # 무조건 0번째 인덱스를 기준으로 정렬
# == pairs.sort(key = lambda x : x[0]) # 리스트 속 튜플의 1번째 인덱스 를 기준으로 정렬
print(pairs)
pairs.sort(key = lambda x : x[1]) # 리스트 속 튜플의 1번째 인덱스 를 기준으로 정렬
print(pairs)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'abcde')]
[(5, 'abcde'), (4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [187]:
number2d = [[9,9,],
           [],
           [10,1]]
number2d.sort(key = lambda x : sum(x)//len(x) if len(x) else 0)
A = sorted(number2d,key = lambda x : sum(x)//len(x) if len(x) else 0)
number2d
print(A)

[[], [10, 1], [9, 9]]

In [202]:
# 합이 큰 순으로 정렬
numbers = [[9,9,9,9,9], # 45
          [1,100], # 101
          [10,1]] # 11
numbers.sort(key = lambda item : sum(item)) # [[10,1],[9,9,9,9,9],[1,100]] 예상
numbers

[[10, 1], [9, 9, 9, 9, 9], [1, 100]]

In [206]:
numbers = [[9,9,9,9,9], # 45
          [1,100], # 101
          [10,1]] # 11
numbers = sorted([sorted(item, reverse = True)for item in numbers],key=sum)
numbers

[[10, 1], [9, 9, 9, 9, 9], [100, 1]]

In [228]:
# 이름순 정렬, 점수 순 정렬
students = [
    {'name' : '홍길동', 'kor':90},
    {'name' : '김길동', 'kor':50},
    {'name' : '윤길동', 'kor':99},
    {'kor':99},
    {'name':'가빵'},
]

In [229]:
# 1. 이름 : 이름 없으면 'none' 제일 앞으로
students.sort(key = lambda x : x.get('name','none'))
print('이름순 :',students)
# 1-2. 이름 : 이름 없으면 '힣힣힣' 제일 뒤로
students.sort(key = lambda x : x.get('name','힣'))
print('이름순 :',students)
# 2. 점수
students.sort(key = lambda x : x.get('kor',0), reverse = True)
print('점수순 :',students)

이름순 : [{'kor': 99}, {'name': '가빵'}, {'name': '김길동', 'kor': 50}, {'name': '윤길동', 'kor': 99}, {'name': '홍길동', 'kor': 90}]
이름순 : [{'name': '가빵'}, {'name': '김길동', 'kor': 50}, {'name': '윤길동', 'kor': 99}, {'name': '홍길동', 'kor': 90}, {'kor': 99}]
점수순 : [{'name': '윤길동', 'kor': 99}, {'kor': 99}, {'name': '홍길동', 'kor': 90}, {'name': '김길동', 'kor': 50}, {'name': '가빵'}]

#### sort and lambda 예제

In [233]:
# ex2. 책 제목 순 정렬(ㄱ,ㄴ,ㄷ), 저자순 정렬(ㄱ,ㄴ,ㄷ), 가격순 정렬(결측치 == 0원 가정, 오름차순), 
books = [
    {'no' : 1, 'title' : '강남 아파트 인사이트', 'writer' : '오스틀', 'price' : '25,200' ,},
    {'no' : 2, 'title' : '단 한번의 삶', 'writer' : '김영하', 'price' : '18,100' ,},
    {'no' : 3, 'title' : '흔한 남매 19', 'writer' : '백난도', 'price' : '14220' ,},
    {'no' : 4, 'title' : '가격이 잘못', 'writer' : '홍길동', 'price' : '-' ,},
    {'no' : 5, 'title' : '가격이 숫자', 'writer' : '신길동', 'price' : 900 ,},
    {'no' : 6, 'title' : '가격이 없음', 'writer' : '김길동',},
]

In [235]:
books.sort(key = lambda x : x.get('title'))
books

[{'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한 남매 19', 'writer': '백난도', 'price': '14,220'}]

In [237]:
books.sort(key = lambda x : x.get('writer'))
books

[{'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한 남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'}]

In [249]:
# '14,000' -> 14000, 800 -> 800, '-' -> 0
def intchange(price) :
    if isinstance(price, str) :
        price = price.replace(',','')
        if price.isdigit() :
            price = int(price)
        else :
            price = 0
    elif isinstance(price, int) :
        price = price
    else :
        price = 0
    return price

In [261]:
# '14,000' -> 14000, 800 -> 800, '-' -> 0
def intchange(price) :
    if isinstance(price, str) and price.replace(',','').isdigit() :
        return int(price.replace(',',''))
    elif isinstance(price, int) :
        return price
    else :
        return 0

In [262]:
intchange('-')

0

#### 선생님 풀이

In [ ]:
# '14,000' -> 14000, 800 -> 800, '-' -> 0
def intchange(price) :
    if isinstance(price, str) and price.replace(',','').isdigit() :
        return int(price.replace(',',''))
    elif isinstance(price, int) :
        return price
    else :
        return 0

In [264]:
ex2 = lambda price : int(price.replace(',','')) if isinstance(price, str) and price.replace(',','').isdigit() else price if isinstance(price, int) else 0

In [282]:
def parse_int(book) :
    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() :
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'),int) :
        return int(book.get('price'))
    else :
        return 0

parse_int(books[0])
check2 = lambda book : int(book.get('price').replace(',','')) if (isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit()) else int(book.get('price')) if isinstance(book.get('price'),int) else 0

SyntaxError: invalid syntax (3133645665.py, line 10)

In [281]:
check2(books[0])

25200

In [294]:
books = [
    {'no' : 1, 'title' : '강남 아파트 인사이트', 'writer' : '오스틀', 'price' : '25,200' ,},
    {'no' : 2, 'title' : '단 한번의 삶', 'writer' : '김영하', 'price' : '18,100' ,},
    {'no' : 3, 'title' : '흔한 남매 19', 'writer' : '백난도', 'price' : '14220' ,},
    {'no' : 4, 'title' : '가격이 잘못', 'writer' : '홍길동', 'price' : '-' ,},
    {'no' : 5, 'title' : '가격이 숫자', 'writer' : '신길동', 'price' : 900 ,},
    {'no' : 6, 'title' : '가격이 없음', 'writer' : '김길동',},
]

copybooks = books.copy()
copybooks.sort(key = lambda book :
               int(book.get('price').replace(',','')) \
               if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() \
               else int(book.get('price')) \
               if isinstance(book.get('price'),int) \
               else 0 ,) 
copybooks

[{'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한 남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

In [293]:
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한 남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'}]

#### 나의 풀이

In [271]:
books = [
    {'no' : 1, 'title' : '강남 아파트 인사이트', 'writer' : '오스틀', 'price' : '25,200' ,},
    {'no' : 2, 'title' : '단 한번의 삶', 'writer' : '김영하', 'price' : '18,100' ,},
    {'no' : 3, 'title' : '흔한 남매 19', 'writer' : '백난도', 'price' : '14220' ,},
    {'no' : 4, 'title' : '가격이 잘못', 'writer' : '홍길동', 'price' : '-' ,},
    {'no' : 5, 'title' : '가격이 숫자', 'writer' : '신길동', 'price' : 900 ,},
    {'no' : 6, 'title' : '가격이 없음', 'writer' : '김길동',},
]
# price 접근 : book.get('price', 0)
list(map(lambda book : {'no' : book.get('no', 0), 'title' : book.get('title', '힣'), 'writer' : book.get('writer', '힣'),
    'price' : int(book.get('price', 0).replace(',','')) if isinstance(book.get('price', 0), str) and book.get('price', 0).replace(',','').isdigit() 
                else book.get('price', 0) if isinstance(book.get('price', 0), int) else 0}, books))

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': 25200},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': 18100},
 {'no': 3, 'title': '흔한 남매 19', 'writer': '백난도', 'price': 14220},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': 0},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동', 'price': 0}]

In [272]:
# price 접근 : book.get('price', 0)
sorted(list(map(lambda book : {'no' : book.get('no', 0), 'title' : book.get('title', '힣'), 'writer' : book.get('writer', '힣'),
    'price' : int(book.get('price', 0).replace(',','')) if isinstance(book.get('price', 0), str) and book.get('price', 0).replace(',','').isdigit() 
                else book.get('price', 0) if isinstance(book.get('price', 0), int) else 0}, books)), key = lambda x : x['price'])

[{'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': 0},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동', 'price': 0},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한 남매 19', 'writer': '백난도', 'price': 14220},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': 18100},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': 25200}]

## 4.3 함수의 return 값으로도 람다식 이용
    - 자주 쓰이지 않음

In [299]:
# 함수를 return
def make_box(shape) : 
    ''' 
    shape : 
    [length] => len가 l인 list를 생성하는 함수 return , 
    [row, col] => r행 c열인 list를 생성하는 함수 return, 
    [dimension, row, col] => d면 r행 c열 3차원 리스트를 생성하는 함수 
    '''
    def box(init_value) : # init_value로 가득찬 박스를 반환
        if len(shape) == 1:
            return [init_value] * shape[0]
        elif len(shape) == 2 :
            return [[init_value] * shape[1]] * shape[0]
    return box

In [297]:
line_func = make_box([2,3]) # box

In [298]:
line_func(20)

[[20, 20, 20], [20, 20, 20]]

In [300]:
line_func1 = make_box([10])

In [301]:
line_func1(20)

[20, 20, 20, 20, 20, 20, 20, 20, 20, 20]

In [302]:
def box(init_value) : # init_value로 가득찬 박스를 반환
    if len(shape) == 1:
        return [init_value] * shape[0]
    elif len(shape) == 2 :
        return [[init_value] * shape[1]] * shape[0]
    return box

In [1]:
lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'

In [2]:
def make_box(shape) : 
    return lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'

In [3]:
KK = make_box([3,3])

In [7]:
KK(0)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# 5절 파이썬 내장 함수
- import 없이 바로 사용 가능한 함수
- 키워드 처럼 간주되므로 식별자(변수명, 함수명, 클래스명)로 사용 되는 것을 기피 : 기능적 결함의 발생 방지

In [8]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  "def make_box(shape) : \n    return lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  'KK = make_box([3,3])',
  'KK(1)',
  'KK(0)',
  'KK(0,1)',
  'KK(0)',
  'globals()'],
 '_oh': {1: <function __main__.<lambda>(init_value)>,
  4: [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
  5: [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
  7: [[0, 0, 0], [0, 0, 0], [0, 0, 0]]},
 '_dh': [WindowsPath('C:/ai_x/source/01_python')],
 'In': ['',
  "lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  "def make_box(shape) : \n    return lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  'KK = make_box([3,3])',
  'KK(1)',
  'KK(0)',
  'KK(0,1)',
  'KK(0)',
  'globals()'],
 'Out': {1: <function __main__.<lambda>(init_value)>,
  4: [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
  5: [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
  7: [[0, 0, 0], [0, 0, 0], [0, 0, 0]]},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000002AF3F84ED10>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x2af3f881ff0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x2af3f881ff0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '__': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '___': [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
 '_i': 'KK(0)',
 '_ii': 'KK(0,1)',
 '_iii': 'KK(0)',
 '_i1': "lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
 '_1': <function __main__.<lambda>(init_value)>,
 '_i2': "def make_box(shape) : \n    return lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
 'make_box': <function __main__.make_box(shape)>,
 '_i3': 'KK = make_box([3,3])',
 'KK': <function __main__.make_box.<locals>.<lambda>(init_value)>,
 '_i4': 'KK(1)',
 '_4': [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
 '_i5': 'KK(0)',
 '_5': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '_i6': 'KK(0,1)',
 '_i7': 'KK(0)',
 '_7': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '_i8': 'globals()'}

In [9]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  "def make_box(shape) : \n    return lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  'KK = make_box([3,3])',
  'KK(1)',
  'KK(0)',
  'KK(0,1)',
  'KK(0)',
  'globals()',
  'locals()'],
 '_oh': {1: <function __main__.<lambda>(init_value)>,
  4: [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
  5: [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
  7: [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
  8: {...}},
 '_dh': [WindowsPath('C:/ai_x/source/01_python')],
 'In': ['',
  "lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  "def make_box(shape) : \n    return lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
  'KK = make_box([3,3])',
  'KK(1)',
  'KK(0)',
  'KK(0,1)',
  'KK(0)',
  'globals()',
  'locals()'],
 'Out': {1: <function __main__.<lambda>(init_value)>,
  4: [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
  5: [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
  7: [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
  8: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000002AF3F84ED10>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x2af3f881ff0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x2af3f881ff0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': {...},
 '__': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '___': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '_i': 'globals()',
 '_ii': 'KK(0)',
 '_iii': 'KK(0,1)',
 '_i1': "lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
 '_1': <function __main__.<lambda>(init_value)>,
 '_i2': "def make_box(shape) : \n    return lambda init_value : [init_value] * shape[0] if len(shape) == 1 else [[init_value] * shape[1]] * shape[0] if [[init_value] * shape[1]] * shape[0] else '잘못된 입력입니다.'",
 'make_box': <function __main__.make_box(shape)>,
 '_i3': 'KK = make_box([3,3])',
 'KK': <function __main__.make_box.<locals>.<lambda>(init_value)>,
 '_i4': 'KK(1)',
 '_4': [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
 '_i5': 'KK(0)',
 '_5': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '_i6': 'KK(0,1)',
 '_i7': 'KK(0)',
 '_7': [[0, 0, 0], [0, 0, 0], [0, 0, 0]],
 '_i8': 'globals()',
 '_8': {...},
 '_i9': 'locals()'}

In [12]:
all(i > 0 for i in range(1,10)) # 전부 True인지 여부

True

In [13]:
any(i % 2 == 0 for i in range(1,50)) # iterable 객체 속 하나라도 True 이면 True를 반환

True

In [15]:
round(3.5) # 반올림 함수 -> 정수를 반환

4

In [21]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5) # : -> 실수를 반환
print(np.ceil(3.5)) # 올림
print(np.floor(3.5)) # 내림

import math
print(math.ceil(30.5))
print(math.floor(30.5))

4.0
3.0
31
30

# 6절 연습문제

In [ ]:
# 실습형

In [24]:
# 1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수 값에 대해 최대값과 최소값을 리턴하는 함수를 작성하세요.
def get_max_min(data_list) :
    return max(data_list), min(data_list)

get_max_min2 = lambda data_list : (max(data_list), min(data_list))

data_list = [1,10,100,1000,10000]
print(get_max_min(data_list))
print(get_max_min2(data_list))

(10000, 1)
(10000, 1)

In [34]:
# 2. 체질량 지수는 체중과 키를 이용해 비만도를 나타내는 지수로 아래 수식에 따라 계산된다. 
#    함수의 인자로 체중과 신장을 입력 받은 후 BMI값에 따라 '마른체형', '표준', '비만','고도비만' 중 하나의 상태를 출력하는 함수를 구현하세요.
def getBMI(kg, m) :
    BMI = kg/(m**2)
    if BMI < 18.5 : return '마른체형'
    elif 18.5 <= BMI < 25 : return '표준'
    elif 25 <= BMI < 30 : return '비만'
    elif 30 < BMI : return '고도비만'
    else : return '잘못된 값을 입력하신 거 같아요'
print(getBMI(77,1.75))
getBMI_lambda = lambda kg, m : '마른체형' if kg/(m**2) < 18.5 else '표준' if 18.5 <= kg/(m**2) < 25 else '비만' if 25 <= kg/(m**2) < 30 else '고도비만' if 30 < kg/(m**2) else '잘못된 값을 입력하신 거 같아요' 
print(getBMI_lambda(77,1.75))

비만
비만

In [39]:
# 4. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요. # math 모듈을 사용하라고 하지만 구현능력을 위해 하드코딩
def get_triangle(width, height) :
    return (0.5 * width * height) , (width + height + (((width**2) + (height ** 2))**0.5))

get_triangle(1,1)
get_triangle_lambda = lambda width, height : ((0.5 * width * height) , (width + height + (((width**2) + (height ** 2))**0.5)))
print(get_triangle(1,1))
print(get_triangle_lambda(1,1))

(0.5, 3.414213562373095)
(0.5, 3.414213562373095)

In [45]:
# 4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수 값의 합을 리턴하는 함수를 작성하세요.
def mysum(from_, end) :
    return sum((range(from_, end+1)))
print(mysum(1,10))
mysum2 = lambda from_, end : sum((range(from_, end+1)))
print(mysum2(1,10))

55
55

In [49]:
# 5. 함수의 인자로 문자열을 포함하는 리스트가 입력 될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
def get_abbrs(lst) :
    return [i[:3] for i in lst]

print(get_abbrs(['seoul','jeju','gwangju','daegu']))
get_abbrs_lambda = lambda lst : [i[:3] for i in lst]
print(get_abbrs_lambda(['seoul','jeju','gwangju','daegu']))

['seo', 'jej', 'gwa', 'dae']
['seo', 'jej', 'gwa', 'dae']

In [53]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
def f(x,y) :
    return x**y
f_lambda = lambda x, y : x**y
print(f(2,3))
print(f_lambda(2,3))

8
8

In [55]:
# 7. ex = [1,2,3,4,5] 를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하세요
ex = [1,2,3,4,5]
# 7-1 리스트컴프리헨션
print([i**2 for i in ex])
# 7-2 map함수 구현
print(list(map(lambda x : x**2,ex)))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [56]:
# 8. 다음 코드를 각각 실행하면 서로 다른 결과가 나온다. 결과를 서술하시오.

## *를 통해 언패킹 한 결과를 반환하기 때문입니다.
a = [1,2,3]
print(*a)
print(a)

1 2 3
[1, 2, 3]

In [9]:
# 9. 다음 코드의 실행 결과는 ? '2024-9-6'
date_info = {'year' : 2024, 'month' : '9', 'day' : '6'}
result = '{year}-{month:>02}-{day:>02}'.format(**date_info)
result

'2024-09-06'

In [104]:
# 10. n개의 벡터(리스트나 튜플, 셋 등)의 크기들이 같은 지 여부를 return하는 vector_size_check(*vector_var)를 한줄의 코드(리스트 컴프리핸션 이용)로 작성하세요
# 무슨 말인 지 모르겠어요...
# ex) vector_size_check([10,20], (100,200), {'name' : '홍', 'age' : 20}) => True
vector_size_check = lambda *vector_var : True if len(set([len(i) for i in vector_var])) == 1 else False
vector_size_check([10,20], (100,200), {'name' : '홍', 'age' : 20})

True

In [13]:
# 10. n개의 벡터(리스트나 튜플, 셋 등)의 크기들이 같은 지 여부를 return하는 vector_size_check(*vector_var)를 한줄의 코드(리스트 컴프리핸션 이용)로 작성하세요
# all 풀이
# ex) vector_size_check([10,20], (100,200), {'name' : '홍', 'age' : 20}) => True
vector_size_check = lambda *vector_var : True if all(data == len(vector_var[0]) for data in [len(i) for i in vector_var]) == 1 else False
vector_size_check([10,20], (100,200), {'name' : '홍', 'age' : 20})

True

In [102]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라 값을 리스트나 튜플, 셋 등 벡터에 곱하는 코드를 작성하시오.(단, 입력되는 벡터의 크기는 일정하지 않음)
def scalar_vector_product(n,lst) :
    return [n*x for x in lst]
scalar_vector_product_lambda = lambda n, lst : [n*x for x in lst]
print(scalar_vector_product(n,lst))
print(scalar_vector_product_lambda(n,lst))

[5, 10, 15, 20]
[5, 10, 15, 20]

In [69]:
# 서술형

In [71]:
# 1. 다음 코드의 실행 결과는 ? 2번 [(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]
pairs = [(1,'d'),(2,'c'),(3,'b'),(4,'a')]
pairs.sort(key = lambda pair : pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [75]:
# 2.함수 영역과 변수들의 참조 영역에 따른 동작을 보여주기 위한 문제입니다. 오류가 발생하는 라인을 찾고 문제를 해결하기 위한 코드를 작성하며 실행 결과를 쓰세요.
# sub 함수가 a의 값을 참조할 수 없음 : 사전 함수 변수의 영역에 a 변수가 선언되었으나 초기화 된 내용이 없어서 발생하는 문제. a를 global a로 선언하여 해결
a = 10
def sub() :
    global a
    a += 1
    print(a, end = '')

def func() :
    for i in range(2) :
        a = 5
        a += 1
        print(a, end = '')
        sub()
        
a +=1
func()

612613

In [23]:
# 3. 다음 구문을 실행한 결과는? 100 함수 속 지역 변수 var가 200으로 재할당 후 소거되며 전역 변수 var에는 영향이 없음
var = 100
def func(var) :
    var = 200
func(var)
print(var)

# 3. 다음 구문을 실행한 결과는? 100 함수 속 지역 변수 var가 200으로 재할당 후 소거되며 전역 변수 var에는 영향이 없음
var2 = 100
def func() :
    global var2
    var2 = 200
func()
print(var2)

100
200

In [77]:
# 4. 다음 구문의 실행 결과는? *args를 통해 2와 3을 패킹, numpy 모듈의 add 함수를 사용해 덧셈 결과 유추.
def my_func(func,*args) :
    return func(*args)
import numpy as np
my_func(np.add,2,3)

5

In [78]:
# 5. 다음 구문의 실행 결과는? 8
def my_func(func,*args) :
    return(func(*args))
my_func(lambda a,b : a**b, 2,3)

8

In [79]:
# 6. 파이썬 함수에 대한 설명 중 잘못된 것은?
# 1번 중복정의 불가능 : 오버로딩 불가

In [82]:
# 7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은? 4번 func([],a=40) : a= 40을 사용하려면 L=[]를 사용해야함
list_ = []
def func(a, L=None) :
    if L is None :
        L = []
    L.append(a)
    return L
func(L=[],a=40)

[40]

In [ ]:
# 8.다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요. : lambda