In [17]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; fo
nt-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:130px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size = 5, color = 'red'> ch05 함수 </font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(같은 이름의 함수를 매개 변수의 개수나 타입을 달리해서 사용) 불가 
    : 자바에서는 
        void print(int a) {system.out.println(a);}
        void print(string a) {system.out.println(a);}
      위와 같이 함수에 기능을 추가할 수 있는데 파이썬은 불가능하다.
    : a=10 ; a=20 ; 처럼 (기능성 처리 변수) 의 할당의 개념으로 생각하자
- 함수의 정의
```
def 함수명(매개변수1, 매개변수2, ......매개변수n) :
    함수 호출 시 실행할 내용 : 명령어 1
    함수 호출 시 실행할 내용 : 명령어 2
    ......
    함수 호출 시 실행할 내용 : 명령어 n
```

# 1절 함수의 정의 및 사용

## 1.1 함수 정의

In [2]:
# 함수의 정의
def my_msg(x=1, msg='공란') : # msg를 x번 출력하는 함수 
    for i in range(x) :
        print(msg)
# 함수의 사용 / 함수의 호출
my_msg(3,'황금독수리 온 세상을 놀라게 하다')

황금독수리 온 세상을 놀라게 하다
황금독수리 온 세상을 놀라게 하다
황금독수리 온 세상을 놀라게 하다

In [54]:
mmsg = my_msg # 함수형 언어! 함수 이름의 재정의 (함수형 변수 선언이 가능하면 함수형 언어라고 하며 파이썬과 자바스크립트가 있다.)
mmsg(1, '이게 되네')

이게 되네

In [55]:
type(my_msg), type(mmsg)

(function, function)

In [56]:
id(my_msg), id(mmsg)

(2434439049520, 2434439049520)

In [5]:
print('Hello') # 파이썬 내장함수 : import 없이 사용이 가능하다.
print = 5
# print('Hello')
del print # 변수를 제거한다.
print('Hello'), print(type(print))

Hello
Hello
<class 'builtin_function_or_method'>

(None, None)

In [58]:
mmsg()
del mmsg # 기능성 변수 할당은 제거가 되네?
my_msg()

공란
공란

- 함수명으로 변수를 할당하면 함수가 변수로 다시 참조하면서 함수가 사라진다.
- 이 변수를 del 한다고 해서 함수가 살아나지 않음 : 기존 정보가 모두 삭제된다. (파이썬 내장함수가 아니어서 불가능하다.)

In [9]:
# 함수 정의
def my_hello() :
    print('hello, Python')
    print('hello, World')
# 함수가 정의되면 그 이후 반드시 테스트를 진행해야한다. 내 화면이 아닌 다른 사용자의 화면에서 사용이 가능한가 체크해야한다.
def my_hello(cnt=1) :
    for i in range(cnt) :
        print('hello, Python')
        print('hello, World')

In [12]:
# 함수의 사용 == 함수의 호출
my_hello(2)

hello, Python
hello, World
hello, Python
hello, World

In [13]:
my_hello  # __main__. -> __main__ 의 함수 my_hello(cnt = 1)이다

In [14]:
__name__ # __main__ : 지금 실행중인 메인 파일

'__main__'

### * 자체 제작 함수의 테스트

In [15]:
# 아래와 같은 구문을 추가하여 확인이 가능하다.
if __name__ == '__main__' :
    my_hello(2)
    
# 함수 기능을 구현하고 해당 커널에서 실행할 때,
# 해당 커널의 __name__ == '__main__' 이기 때문에
# 해당 커널에서는 실행되지만 다른 페이지에서는 실행되지 않음.

hello, Python
hello, World
hello, Python
hello, World

In [4]:
import ch05 # ch05 모듈을 load
dir(ch05)
ch05.my_hello()

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'my_hello']

In [1]:
from ch05 import my_hello # ch05 모듈 속 my_hello() load
my_hello(5)

hello, Python
hello, World
hello, Python
hello, World
hello, Python
hello, World
hello, Python
hello, World
hello, Python
hello, World

## 1.2 docstring

In [6]:
def my_function() :
    '''
    함수의 첫 라인데 독스트링을 포함할 수 있습니다. 
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shirt + tab 으로 독스트링을 볼 수 있음)
    '''
    pass

In [8]:
print(my_function.__doc__) # 독스트링만 보는 방법 : .__doc__

    함수의 첫 라인데 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shirt + tab 으로 독스트링을 볼 수 있음)

In [53]:
def fibonacci(n) :
    '''
    피보나치 수열 중 n 보다 작지만 가장 큰 값을 체크할 수 있으며 그 이전까지의 수열을 모두 보여줌.
    '''
    a,b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행
fibonacci(10) 
# a,b : 함수 속 변수들은 함수의 인자로 함수 밖에서 체크가 불가능하다. 로컬 영역에 있기 때문에.

0 1 1 2 3 5 8

## 1.3 지역변수(local var)와 전역변수(global var)

In [57]:
global_var = 100 # 전역변수
def func1() :
    print('함수 안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [62]:
def func2() :
    local_var = 200 # 지역변수
    print('함수 안 :', local_var) 
func2()
# print('함수 밖 :', local_var) # NameError: name 'local_var' is not defined

함수 안 : 200

In [91]:
g_var = 100 # 전역변수
def func3() :
    g_var = 200 # 지역변수를 할당(임시변수로 함수 변수 영역에 할당)
    print('함수 안 :', g_var) # 지역변수를 호출함

func3()
print('함수 밖 :',g_var)

함수 안 : 200
함수 밖 : 100

In [97]:
# 렉시컬 특성 lexical 
g_var = 100 # 전역변수
def func4() :
    print('함수 안 :', g_var) # local variable 'g_var' referenced before assignment : 
    g_var = 200 # 지역변수
    print('함수 안 :', g_var)
    # 변수 선언 먼저 컴파일 이후 절차에 따라 진해됨. 
    #이에 따라 g_var를 4번 줄에서 g_var를 변수로 선언,할당 하게되면 g_var라는 변수가 로컬 심볼 테이블에 우선 [선언]되고 
    # 이에 따라 3번 줄에 선언 오류가 발생할 수 밖에 없음.
    
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [102]:
# 렉시컬 특성 lexical 
g_var = 100 # 전역변수
print('함수 밖 :', g_var)
def func4() :
    global g_var # func4 함수 내의 g_var는 전역변수임을 선언
    print('함수 안 :', g_var)
    g_var += 200 
    print('함수 안 :', g_var)
func4()
print('함수 밖 :', g_var)

함수 밖 : 100
함수 안 : 100
함수 안 : 300
함수 밖 : 300

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [4]:
foo = 'a' # 전역변수, 스칼라 변수
id(foo)

1962723272624

In [17]:
def func1(f) : # 매개변수는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f*3 # f에 3f를 재할당한다. : 주소가 바뀐다!
    print('After :', f, 'id(f) :', id(f))

print(foo)
id(foo), id(func1(foo)), id('aaa')

a
Before : a id(f) : 1962723272624
After : aaa id(f) : 1960653623280

(1962723272624, 140714894454464, 1960682716784)

In [3]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 객체 일 경우

In [10]:
L = [1, 2, 3,]
id(L)

1960682880640

In [8]:
def func2(f) : 
    # 매개변수는 지역변수 : 리스트 등 여러 데이터가 담겨있는 객체는 스칼라 객체보다 상대적으로 무거워서 할당을 할 때 다른 주소로 할당하면 성능의 저하가 발생하기 때문에
    # 같은 주소를 참조시킨다. 원본데이터를 보존하려면 .copy()를 하여 새로운 객체를 만드는 것이 안전하다.
    print('Before :', f)
    f.append(4)
    print('After  :', f)
func2(L), id(L), L

Before : [1, 2, 3]
After  : [1, 2, 3, 4]

(None, 1960653497664, [1, 2, 3, 4])

In [16]:
def func3(f) : # 매개변수는 지역변수
    k = f.copy()
    print('Before :', k, id(k))
    k.append(4)
    print('After  :', k, id(k))
func3(L), id(L), L

Before : [1, 2, 3] 1960683092032
After  : [1, 2, 3, 4] 1960683092032

(None, 1960682880640, [1, 2, 3])

# 2절 함수의 실행결과를 반환하는 return

In [59]:
def fibonacci_print(n) :
    '''
    매개변수도 들어온 n값 미만의 피보나치 수열을 출력
    ex. n = 10이면 0, 1, 1, 2, 3, 5, 8 출력
    '''
    a,b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행
fibonacci_print(10) 

def fibonacci_return(n) :
    '''
    매개변수도 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n = 10 이면 [0, 1, 1, 2, 3, 5, 8] return
    '''
    fibo = []
    a,b = 0, 1
    while a < n :
        fibo.append(a)
        a, b = b, a+b
    return fibo
fibonacci_return(10) 

def fibo(n) :
    '''
    매개변수 n번째 피보나치 수를 return
    '''
    answer = [0] * (n + 1)
    answer[0] = 0 ; answer[1] = 1
    for i in range(2, n+1) :
        answer[i] = answer[i-1] + answer[i - 2]
    return answer
fibo(10)

0 1 1 2 3 5 8

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [82]:
x = fibonacci_print(100)
print(x)
print(type(x)) # 리턴 값이 없고 프린트로 보여주는 용도. x는 None타입

0 1 1 2 3 5 8 13 21 34 55 89
None
<class 'NoneType'>

In [63]:
y = fibonacci_return(100)
print(y)
print(type(y))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [68]:
def swap(a, b) :
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return b, a # 튜플 형태로 반환

In [78]:
x, y = 5, 10
print(f'''
함수 실행 전 
x = {x:2}, y = {y:2}''')
x, y = swap(x,y)
print(f'''
함수 실행 후 
x = {x:2}, y = {y:2}''')

함수 실행 전
x =  5, y = 10

함수 실행 후
x = 10, y =  5

# 3절 함수의 매개변수 ★
## 3.1 기본 값을 갖는 매개변수

In [93]:
def make_url(ip, port = 80) :
    return f'http://{ip}:{port}' # http://www.naver.com:80
    
def make_url2(port = 80, ip) : # on-default argument follows default argument : 
    # 순서인수 : 디폴트 값을 갖지 않는 매개변수가 앞으로 // 디폴트 값이 있는 매개변수가 뒤로
    return f'http://{ip}:{port}' # http://www.naver.com:80

SyntaxError: non-default argument follows default argument (539119654.py, line 4)

In [90]:
make_url('localhost')

'http://localhost:80'

In [96]:
print(make_url('localhost', 8080))
print(make_url(port = 8090, ip = 'localhost'))

http://localhost:8080
http://localhost:8090

In [86]:
make_url('codeby.com')

'http://codeby.com:80'

## 3.2 변경 가능한 객체를 기본변수로 갖는 매개변수
- 기본 변수가 스칼라 변수일 때
- 기본 변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [112]:
i = 5
# 기본 값을 갖는 매개변수가 스칼라 변수일 때 : arg의 기본 값은 함수가 정의 되는 시점의 값으로 고정 // 스칼라 데이터를 참조하는 변수의 할당 개념
def func2(arg = i) :
    print('arg = :',arg)

In [114]:
i = 50
func2()

arg = : 5

In [129]:
list_ = []
# 기본 값을 갖는 매개변수가 변경 가능한 객체(데이터구조)일 때 : arg의 기본 값은 호출하는 시점에 따라 실시간 변경 // 리스트의 주소를 참조하는 변수의 할당 개념
def func3(data, L=list_) :
    '''data를 L에 append'''
#    print(f'data = {data}, L = {L}')
    L.append(data)
    return L

In [130]:
print(func3(10)) # list_ 가 수정 : [10]

[10]

In [146]:
list_
print(func3(20, [10]))

[10, 20]

In [147]:
list_

[10, 20]

In [158]:
def func4(data, L=None) :
    if L == None :
        L = []
    L.append(data)
    return L

In [159]:
list_ = [15]
print(func4(10))
print(func4(10, list_))

[10]
[15, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

매개변수의 개수는 알 수 없음.
이 때 모든 인수를 하나의 튜플로 만들어서 처리하면 아무리 많은 매개변수도 처리가 가능하다.

In [170]:
# add(1,2,3,4,5,....) : 매개변수가 늘어나도 모두 더하는 함수를 구현하려고 한다. 이 때 사용하는 개념 가변 인자.
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b) :
    return a+b
def add(a, b, c) :
    return a+b+c

In [171]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [181]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args) :
    '''전달받은 매개변수들의 합을 return'''
#    print('args =', args)
    result = 0
    for data in args :
        result += data
    return result

In [184]:
print(add(1))
print(add(1,2))
print(add(1,2,3))
print(add(1,2,3,9))
print(add(1,2,3, 9, 10))

1
3
6
15
25

In [185]:
subject = ('python','oracle','DL','ML')
'/'.join(subject)

'python/oracle/DL/ML'

In [ ]:
concat('python','oracle','DL','ML','/')
=> python/oracle/DL/ML #print('hello','world',sep'/')

In [190]:
def concat(*subject, sep) :
    return sep.join(subject)

In [191]:
concat('python','oracle','DL','ML','/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [192]:
# 해결책1 : 매개변수 이름을 지정해서 호출 <<BAD>>
concat('python','oracle','DL','ML', sep = '/')

'python/oracle/DL/ML'

In [208]:
# 해결책2 : 반드시 기본값을 갖는 키워드인수로 사용
def concat(*subject, sep=' ~ ') :
    return sep.join(subject)

In [209]:
concat('python','oracle','DL','ML')

'python ~ oracle ~ DL ~ ML'

In [195]:
concat('python','oracle','DL','ML','/') # 마지막 인자가 구분자여야하는데 여기서는 문자열로 구분. ** print() 함수 작동원리의 결

'python ~ oracle ~ DL ~ ML ~ /'

In [206]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep = ' ! ', *subject) : # 순서 인수 / 키워드인수 / 튜플 매개변수
    return sep.join(subject)

In [207]:
concat(' / ', 'python','oracle','DL','ML')

'python / oracle / DL / ML'

순서인수 -> 키워드 인수 -> 튜플 매개변수

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변 키워드 인수 처리

In [240]:
def func5(**kwargs) :
    '''키워드 인수들을 딕셔너리 형태로 받아서 가변 키워드 인수를 처리한다
    키 : name, age, address'''
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', 30))
    print('주소 :', kwargs.get('address', '서울특별시 어딘가에 살고 있습니다.'))

In [241]:
func5(name = '홍길동', age = 30, address = '신림동')

<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [242]:
func5(name = '김길동')

<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울특별시 어딘가에 살고 있습니다.

## 3.5 함수 정의 시 매개변수 순서
- 순서인수 > 튜플매개변수(*args) > 키워드인수(매개변수 이름 명시) > 딕셔너리 매개변수(**kwargs) // 인수나 매개변수나..

In [6]:
def func6(a,b, *c, **d) :
    print('순서 인수 :', a)
    print('순서 인수 :', b)
    print('튜플 인수 :', c)
    print('딕셔너리 인수 :', d)

In [7]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name = '홍길동', age = 30, address = '서울')

순서 인수 : 10
순서 인수 : 20
튜플 인수 : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [21]:
def func7(a, b, *c, d='기본값', **e) :
    print('순서 인수 :', a)
    print('순서 인수 :', b)
    print('튜플 인수 :', c)
    print('키워드 인수(기본값을 갖는 인수, 호출 시 매개변수 이름 반드시 명시) :', d)
    print('딕셔너리 인수 :', e)

In [23]:
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, d='딴거', name='홍길동', age=30, address='서울')

순서 인수 : 10
순서 인수 : 20
튜플 인수 : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드 인수(기본값을 갖는 인수, 호출 시 매개변수 이름 반드시 명시) : 딴거
딕셔너리 인수 : {'name': '홍길동', 'age': 30, 'address': '서울'}

## 3.6 매개변수(인수)의 언패킹
### 3.6.1 튜플 매개변수(인수) 언패킹
- 튜플 언패킹 : 함수 호출 시 매개변수 앞에 * 붙임
- cf) 튜플 패킹 : 함수 정의 시 매개변수 앞에 * 붙임(튜플매개변수) // ** 매개변수 :딕셔너리  키 1번 값 2번 이해

In [9]:
def add(*args) :
    print(args)
    tot = 0
    for num in args :
        tot += num
    return tot

In [10]:
add(1,2,3,4)

(1, 2, 3, 4)

10

In [7]:
numbers = (1,2,3,4)
add(*numbers) # 함수 정의 시 매개변수 *args 는 튜플 패킹, 함수를 호출할 때 매개변수 *args는 언패킹
add(*numbers, 1, 2, 3, 4, 5) # ?? 이게 되네

25

### 3.6.2 딕셔너리 매개변수(인수) 언패킹
- *args 한 번 하면 키 **args 두 번 하면 밸류
- 딕셔너리 언패킹 : 함수 호출 시 매개변수 앞에 ** 붙임  // ** 매개변수 :딕셔너리  키 1번 값 2번 이해
- cf) 딕셔너리 패킹 : 함수 정의 시 매개변수 앞에 ** 붙임(튜플매개변수)

In [11]:
def func5(**data) :
    print(type(data))
    for key, item in data.items() :
        print(f'{key} : {item}')

In [12]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name : 홍길동
age : 30
address : 신림

In [13]:
custominfo ={'name' : 'KilDong',
            'age' : 30,
            'address' : 'Seoul Gangnam',
            '이런저런' : '데이터',
            'score' : 900,}
func5(custominfo) #func5() takes 0 positional arguments but 1 was given : 딕셔너리 데이터를 패킹하지 않아 크게 1덩어리의 순서변수로 전달

TypeError: func5() takes 0 positional arguments but 1 was given

In [14]:
custominfo ={'name' : 'KilDong',
            'age' : 30,
            'address' : 'Seoul Gangnam',
            '이런저런' : '데이터',
            'score' : 900,} 
func5(*custominfo) # func5() takes 0 positional arguments but 5 were given : 1번만 패킹되어 키값 5개만 전달되어 5개 순서인수가 전달

TypeError: func5() takes 0 positional arguments but 5 were given

In [16]:
custominfo ={'name' : 'KilDong',
            'age' : 30,
            'address' : 'Seoul Gangnam',
            '이런저런' : '데이터',
            'score' : 900,} 
func5(**custominfo)

<class 'dict'>
name : KilDong
age : 30
address : Seoul Gangnam
이런저런 : 데이터
score : 900

# 4절 람다식 lambda
- return 한 줄 짜리 작은 익명 함수
## 4.1 람다식 연습
      - lambda 매개변수 : 매개변수 명령문
      - 사용할 때는 1. 기능성 변수에 할당하거나
                  2. (람다함수)(매개변수) 형태로 사용하거나

In [6]:
# def add(a,b) :
#     return a+b
# add(3,4)

add = lambda a,b : a+b
add(3,4), add(5,6)
type(add)

function

In [7]:
(lambda a,b : a+b)(3,4)

7

In [32]:
A = ['1','2','3','4','5']
A2 = list(map(lambda x : int(x), A))
A2

[1, 2, 3, 4, 5]

In [5]:
a3 = [[1,3,5],[1,2,3],[1,1,4]]
print(sorted(a3, key = lambda x : x[2], reverse = True))
print(sorted(a3, key = lambda x : x[1], reverse = True))
print(sorted(a3, key = lambda x : (x[0], x[1]), reverse = True))

[[1, 3, 5], [1, 1, 4], [1, 2, 3]]
[[1, 3, 5], [1, 2, 3], [1, 1, 4]]
[[1, 3, 5], [1, 2, 3], [1, 1, 4]]

### 4.1.1 람다식 연습문제:

In [10]:
# ex1. 매개변수로 들어온 값이 짝수면 "짝수" 홀수면 "홀수" return
(lambda x : "짝수" if x%2==0 else "홀수")(15)

'홀수'

In [2]:
# ex2. 두 매개변수의 차이를 return
print((lambda a,b : abs(a-b))(1,2))
print((lambda a,b : a - b if a-b > 0 else b - a)(1,2))

1
1

In [4]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액 return, 음수면 'negative'
(lambda change : change if change > 0 else 'negative')(-500)

'negative'

In [11]:
# ex4. 정수를 입력 받아 80점 이상 100점 이하는 'A', 60점 이상은 'B', 60점 미만은 '재시험' 그외에는 '유효하지 않음'
print((lambda x : '유효하지않음' if (x>100 or x<0) else ('A' if x>= 80 else ('B' if x>=60 else '재시험')))(50))
# [True1] if [Condition1] else [True2] if [Condition2] else [False]
print((lambda x : '유효하지 않음' if x>100 or x<0 else 'A' if x>= 80 else 'B' if x >=60 else '재시험')(-50))
ex4 = lambda x : '유효하지 않음' if x>100 or x<0 else \
             'A' if x>= 80 else \
             'B' if x >=60 else \
             '재시험'
ex4(100), ex4(75), ex4(-100), ex4(50)

재시험
유효하지 않음

('A', 'B', '유효하지 않음', '재시험')

In [12]:
# ex5. safe_index 를 람다식으로
# def safe_index(vector, data) :
#     if data in vector :
#         return vector.index(data)
#     else:
#         return -1
(lambda vector, data : vector.index(data) if data in vector else -1)([1,2,3], 2)

1