In [363]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size = 5, color = 'red'> ch03 데이터 구조 </font>
- 리스트 [ ], 튜플 ( ), 집합(set) { }, 딕셔너리 {key:value}
- 여러가지 자료를 한 변수에 담는 것이 목적
***

# 1절 리스트
## 1.1 리스트 생성
***

- [ ] 를 이용해서 만들며 여러(종류와 개) 값을 하나의 변수에 저장/관리 가능하다.
- list(리스트로 변환 가능한 자료) 함수도 이용 가능.
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱 : [from : stop : step] from부터 stop-1 까지 step간격 만큼 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [ ]:
fruits = ['banana', 'apple', 'lemon', 'orange', 'grape']
type(fruits)

In [ ]:
fruits = ['banana', 'apple', 'lemon', 'orange', 'grape']
print(fruits)
print(fruits[0])
fruits[0] = 'change'
print('-' * 50)
print(fruits[0])
print(fruits)

In [ ]:
x, y, z, o, w = fruits
print(x, y, z, o, w)
print(f'x = {x}')
print(f'y = {y}')
print(f'z = {z}')
print(f'o = {o}')
print(f'z = {z}')

In [ ]:
# range(from, to, by) from 부터 to - 1 까지 by 만큼 증가하면서 지정된 범위의 '정수' : from 생략시 0(시작부터) by 생략시 1
a = list(range(10))
print(a)

In [ ]:
list(range(10,-1,-3))

In [ ]:
# 반복문(30회)
k=0
for i in range(30) :
    pass
print(k)

In [ ]:
fruits = ['mango', 'apple', 'orange', 'grape']

for i in range(len(fruits)) :
        print(f'{i+1}번째 과일은',fruits[i],'입니다.')
        
print('-' * 50)

for i in fruits :
    print(f'{fruits.index(i) + 1}번째 과일은 {i} 입니다.')
print('-' * 50)
for idx,val in enumerate(fruits) : # enumerate(나열가능한 자료) : -> (index, val) 들의 셋들
    print(f'{idx+1}번째 과일은 {val} 입니다.')
print('-' * 50)
print(len(fruits))
# len(list) : 리스트 속 자료의 개수

In [ ]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6], {1,2,3}, (1,2)] 
# 집합은 for 구문도 돌고 enumerate도 도는데 index는 지원 안함 : **순서 없음**
# 순회가 가능한(반복이 가능한) iterable
print(numbers)
print(numbers[4])
print(numbers[4], numbers[4][1])

In [ ]:
# 세 학생의 국어 점수 : score = [90, 100, 95] 
# 세 학생의 국영수 점수 : score_3sub = [[90, 100, 96], [100, 70, 98], [85, 70, 65]] # 이중 중첩 리스트 : 이차원 리스트
# 근데 이거 numpy로 array형으로 사용하면 연산 등에서 정말 용이하다

In [ ]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93], 
              [80, 81, 82, 83],
              [70, 71, 72, 73],]
print(numbers_2d)
print(len(numbers_2d), len(numbers_2d[0]))

In [ ]:
for i, first_access in enumerate(numbers_2d) :
# f'{idx + 1}번째 학생의 성적표 : {first_access}'
    for j, value in enumerate(first_access) :
        print(f'{i}행 {j}열 : {value}', end = '\t') # \t : 탭
    print() # 개행 다음 줄을 열어라! 다음 줄로 가자 다음 줄 시작하자
#for idx, first_access in enumerate(numbers_2d) :
#    print(f'{idx + 1}번째 학생의 성적표 : {first_access}')

In [ ]:
numbers_2d = [['과 목','국어', '영어', '수학', '과학'],
              ['길 동', 90, 91, 92, 93], 
              ['김 천', 80, 81, 82, 83],
              ['김 가', 70, 71, 72, 73],]
for row in numbers_2d :
    for score in row :
        print(f'{score:3}', end = '\t')
    print()

## 1.2 기본 정보 조회

In [ ]:
# 최소값, 최대값
nums = [1, 12, 3, 5, 4,]
nums2 = [[100,0],
        [9,100, 1, 2, 3,],
        [50, 54],]
print(nums)
print(nums2)

In [ ]:
# 요소(item)의 수
print(len(nums), len(nums2))
print(min(nums), max(nums))
print(min(nums2), max(nums2)) # 기본은 제일 앞 요소를 기준으로 비교한다. x[0]
print(sorted(nums))
print(sorted(nums2))
print(sorted(nums2, key = lambda x: x[1]))
print(sorted(nums2, key = lambda x: (len(x), x[0])))

In [ ]:
# 문자 list일 경우 ascii 코드 값으로 min(), max() 적용
fruits = ['apple', 'mango', 'orange', 'Apple']
min(fruits), max(fruits)

In [ ]:
# 정렬하기
numbers = [1, 12, 3, 5, 4,]
print('오름차순 정렬 :', sorted(numbers))
print('내림차순 정렬 :', sorted(numbers, reverse = True))
# sorted 함수는 새로운 리스트에 정렬한 값을 넣어주는 의미
print('합 :', sum(numbers))

## 1.3 요소 추가
```
     + 로 두 리스트를 연결
     * 로 리스트를 * 번 반복
     append() : 리스트 맨 뒤 1개 요소 추가
     extend([무조건 리스트 형태로]) : 리스트에 리스트 이어붙이기
     insert(idx, val) : val를 idx 위치에 추가 기존 데이터는 shift
 ```

In [ ]:
nums = [1,2,3,4,5,]

In [ ]:
nums = [1,2,3,4,5,]
nums2 = [1,2,3,4,5,]
print(id(nums))
print(id(nums2))

In [ ]:
numbers = [1,2]
print(id(numbers))
numbers = numbers + numbers
print(id(numbers))
numbers *= 2
print(id(numbers))
numbers.append(1)
print(id(numbers))
numbers.extend(numbers)
print(id(numbers))
numbers.insert(0,99)
print(id(numbers))
numbers += numbers # == extend
print(id(numbers))
numbers

## 1.4 인덱싱과 요소 개수
    - 리스트객체[인덱스] : 인덱스를 이용한 접근 : IndexError 주의
    - 리스트객체.index(찾을데이터) = 찾을 데이터가 리스트 객체에 있다면 index를 반환, 없으면 IndexError
    - 리스트객체.count(찾을데이터) = 찾을 데이터가 리스트 객체에 몇 번 있는 지 체크
    - 리스트객체.index(찾을데이터, position = 몇번째 이후(기본은 0) = 몇번째 이후 처음 나오는 객체 인덱스 반환 : 이것도 없으면 IndexError

In [ ]:
numbers = [1,2,3,[1,2,3,],1,2,3,]
print(numbers.count(9))

In [ ]:
numbers.count(2) # 2
I = numbers.index(2)
numbers.index(2, I+1) # 2를 찾을건데, 2개 있는 것중에 뒤에 있는 것의 index가 필요해.
if 9 in numbers :
    K = numbers.index(9)
else : 
    K = 'Fuck'
print(K)

In [ ]:
import numpy as np
a = [[1,2],[3,4],[5,6]]
A = np.array(a)
print(A)

In [ ]:
2 in A

In [ ]:
numbers = [1,2,3,[1,2,3,],1,2,3,]

def find_all_index(list_,find_value) :
    ''' 
    찾고자 하는 find_value의 값이 어떤 index에 있는 지 모두 체크하며 
    만일 아무 값도 없다면 빈 리스트([]) 반환
    '''
    idx_list = []
    for idx,val in enumerate(list_) :
        if find_value == val :
            idx_list.append(idx)
    return idx_list if idx_list else []



def safe_index(list_, target) :
    '''
    target 변수가 list_ 속에 있는 지 먼저 체크하여 오류를 사전에 예방하고
    존재한다면 첫 인덱스를 반환, 존재하지 않는 경우 -1 반환
    '''
    if target in list_ :
        return list_.index(target)
    else :
        return -1
     
print(find_all_index(numbers, 9))
print(safe_index(numbers, 9))

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 인덱스의 데이터를 추출(인덱스의 범위를 벗어나도 오류가 발생하지 않음)
    - [from:stop:step] from부터 step-1 까지 step씩 증가하는 index의 값을 추출
    - from 생략 시 0, stop 생략 시 끝까지, step 생략 시 1. 모두 생략도 가능(굳이?)
    - 음수 인덱스 가능(역순으로 계산)

2. <font color = 'red'>리스트 컴프리핸션</font> : 리스트에서 원하는 데이터를 추출

In [ ]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20] # 8개
# 짝수 번째 인덱스 값 출력
even_idx_num = numbers[::2]
# 거꾸로 출력
reverse_num = numbers[::-1]
print(even_idx_num)
print(reverse_num)

In [ ]:
print('연습문제', '*'*50)
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
print('# 모든 수를 가져와라')

print('1안')
answer = []
for i in numbers :
    answer.append(i)
print(answer)

print('-'*55)

print('2안')
answer_2 = [x for x in numbers]
print(answer_2)

print('-'*55)

print('# 짝수를 가져와라')

print('1안')
answer = []
for i in numbers :
    if i % 2 == 0 :
        answer.append(i)
print(answer)

print('-'*55)

print('2안')
even_num = [x for x in numbers if x%2 == 0]
print(even_num)

print('-'*55)

# 2안 : 리스트컴프리핸션 : 불필요한 메모리를 줄여 효율성을 올릴 수 있음

In [ ]:
print('연습문제 1', '*'*50)
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
print('# 10 이상의 숫자들만 추출하시오', end='\n\n')
print([x for x in numbers if x >= 10])

In [ ]:
print('연습문제 2', '*'*50)
fruits = ['orange', 'apple', 'mango', 'kiwi']
print('# fruits에서 5글자가 넘는 과일만 추출하시오.', end='\n\n')
print([x for x in fruits if len(x) > 5])

In [ ]:
print('연습문제 3', '*'*50)
L = [1,2,3,4,5]
print('# 3 이상의 요소들의 제곱수를 추출하시오.', end='\n\n')
print([data**2 for data in L if data >= 3])

## 1.6 요소 수정하기

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9] # range(10)
# 인덱스를 이용해서 요소 수정
numbers[2] = 222
numbers

In [ ]:
# 슬라이싱을 이용해서 요소 수정(step 부분이 미포함 : 부분 리스트가 통째로 수정)
numbers[1:4] = ['a', 'b', 'c', 'ㅋ', 'ㅎ'] # 할당 공간을 바꾸고 남은 건 shift 해서 밀어넣어라 
numbers
numbers[-1:-1] = ['a', 'b', 'c', 'ㅋ', 'ㅎ'] # 할당 공간을 바꾸고 남은 건 shift 해서 밀어넣어라
print(numbers)

In [ ]:
# 슬라이싱을 이용해서 요소 수정(step 부분 포함 : 요소 개수가 맞아야 가능하다)
numbers = [0,1,2,3,4,5,6,7,8,9,]
numbers[::2] = [99]*len(numbers[::2])
print(numbers)
numbers.remove(99)
print(numbers)

## 1.7 요소 삭제하기
- pop() : 가장 마지막 인덱스 요소가 반환되고 리스트에서 삭제
- pop(index) : index의 요소가 반환되고 리스트에서 삭제 // 인덱스가 리스트 내에서 모두 수정되며 정말 많은 시공간이 소요
- remove(value) : 리스트 속에서 value를 찾아서 제일 앞의 요소를 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [ ]:
numbers = [ 1, 2, 3, 4, 5]
numbers.remove(1)
print(numbers)
del numbers[1]
print(numbers)
print(numbers.pop())
print(numbers)
print(numbers.pop(0))
print(numbers)
numbers = [1,2,3,4,5]
print(f' {numbers}, {numbers.pop()} , {numbers}')

In [ ]:
numbers = [1,2,3,4,5]
numbers.remove(3) # 반환 값이 없고, 해당 데이터만 삭제. 해당 데이터가 없으면 오류
print(numbers)

In [ ]:
if 9 in numbers :
    numbers.remove(A)
else :
    print('값 없다')

In [ ]:
def safe_remove(lst, target) :
    if target in lst :
        lst.remove(target)
        return'완료', lst
    else :
        return '해당 없음', lst
numbers = [1,2,3,4,5,6,7,8,9,10]
print(safe_remove(numbers,7))

## 1.8 정렬하기

In [ ]:
numbers = [1, 9, 5, 0, 8]
print('numbers는 변경하지 않고 정렬 :' , sorted(numbers, reverse= True))
print('numbers :',numbers)

In [ ]:
print(numbers)
numbers.sort() # numbers 원본 데이터가 정렬한 결과로 바뀜 : 기본 정렬 오름차순
numbers.reverse() # numbers[::-1]
numbers.reverse() # numbers[::-1]
# .reverse()는 원본을 바꿔 속도가 빠르나 원본을 유지하고 싶을 때 사용하기 힘들다.
# [::-1]은 새로운 리스트 객체를 생성반환해 느리지만 원본을 유지하기 쉽다.
print(numbers)

## 1.9 복제하기

In [ ]:
# 스칼라 데이터의 복제
i = 10 # 원본
copy_i = i # 복제본
print(f'원본 i : {i}, 복사본 = {copy_i}, 원본주소 = {id(i)}, 복사본 주소 = {id(copy_i)}')
copy_i = 99
print(f'원본 i : {i}, 복사본 = {copy_i}, 원본주소 = {id(i)}, 복사본 주소 = {id(copy_i)}')

In [ ]:
# 리스트(numpy, 배열, tensor, DataFrame, dictionary)의 복제 : 금지
# 데이터구조에서는 변수 할당으로 해결이 불가
numbers = [5, 8, 1] # 원본
new_numbers = numbers # 복제본
new_numbers[0] = 9
print('원본 :', numbers)
print('복사본 :', new_numbers)

In [ ]:
# 얕은 복사(할당)
numbers = [5,8,1] # 원본
new_numbers = numbers # 얕은 복사(할당)
print(f'원본 데이터 : {numbers} 원본주소 {id(numbers)}')
print(f'복제 데이터 : {new_numbers} 복제주소 {id(new_numbers)}')
new_numbers[0] = 7
new_numbers.sort()
print('복제 데이터 지지고 볶고')
print(f'원본 데이터 : {numbers} 원본주소 {id(numbers)}')
print(f'복제 데이터 : {new_numbers} 복제주소 {id(new_numbers)}')

In [ ]:
# ★★ 깊은 복사(복제)
numbers = [5,8,1] # 원본
new_numbers = numbers.copy() # 깊은 복사(복제)
print(f'원본 데이터 : {numbers} 원본주소 {id(numbers)}')
print(f'복제 데이터 : {new_numbers} 복제주소 {id(new_numbers)}')
new_numbers[0] = 7
new_numbers.sort()
del new_numbers[0]
new_numbers.append(99)
print('복제 데이터 지지고 볶고')
print(f'원본 데이터 : {numbers} 원본주소 {id(numbers)}')
print(f'복제 데이터 : {new_numbers} 복제주소 {id(new_numbers)}')

In [ ]:
numbers.clear() # 리스트의 요소를 모두 삭제
print(numbers)

# 2절 튜플
## 튜플은 리스트와 유사하다
***
- 리스트와 유사하지만 읽기 전용. 수정이 필요 없는 데이터에서 사용
- 수정 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가 (제공되는 함수도 많지 않다.)
- (), tuple() 이용해서 생성
***

In [ ]:
# city = ('서울', '부산', '인천', '목포')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울', '부산', '인천', '목포'
print(type(city))
print(city)

In [ ]:
# join 함수는 튜플과 리스트 모두 사용이 가능하네!
city = ['서울', '부산', '인천', '목포']
print(' '.join(city))
city = ('서울', '부산', '인천', '목포')
print(' '.join(city))

In [ ]:
l = ['서울'] # 요소가 1개인 리스트 타입
print(type(l), ㅣ )

In [ ]:
t = ('서울',) # 요소가 1개인 튜플 타입 : str 과 다르지 않다. : 생각해보면 괄호를 생략해서 할당하니 다를 게 없네
print(type(t), t) # 반점을 찍어서 튜플로 인식시킬 수 있다.
t = ('서울', 3) # 요소가 2개인 튜플 타입 
print(type(t), t )

In [ ]:
numbers = (1, 2, 3)
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음
# numbers.append(4)
# numbers.pop()
# numbers.sort()
print(sum(numbers), min(numbers), max(numbers), sorted(numbers)) 
# sorted의 경우 요소를 가지고 정렬해 새로운 리스트를 반환하여 활용이 가능하다

In [ ]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

In [ ]:
if 9 in numbers :
    print(numbers.index(9))
else : 
    print('값이 없다')

In [ ]:
# def safe_index(lst, item) :
#     '''
#     리스트 속 item의 유무를 체크하고
#     item이 있다면 item 요소의 인덱스를 반환하고
#     없으면 -1을 반환
#     lst : 나열 가능한데이터
#     item : 찾을 데이터
#     '''
# #     if item in lst :
# #         return lst.index(item)
# #     else :
# #         return -1
#     return lst.index(item) if item in lst else -1
# numbers = (1,2,3,4,5,6,7)
# print(safe_index(numbers, 2), safe_index(numbers, -9))

In [5]:
from save import safe_index
numbers = (1,2,3,45,5,6,7,8,9,4,0)
print(safe_index(numbers,45))

3

In [10]:
numbers += numbers ; numbers = numbers * 2
numbers

(1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0,
 1,
 2,
 3,
 45,
 5,
 6,
 7,
 8,
 9,
 4,
 0)

In [15]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력
numbers = (1,2,3,4,5,6)
print(tuple([num**2 for num in numbers if not num%2]))
print(tuple(num**2 for num in numbers if not num%2))
print(([num**2 for num in numbers if not num%2],))

(4, 16, 36)
(4, 16, 36)
([4, 16, 36],)

# 3절 딕셔너리
***

**'홍길동', 80, 90, 100을 저장하려고 함.**
```
물론 리스트 형태로 가능하나 데이터 관리를 좀 더 용이하게 하기 위해 딕셔너리 구조를 사용한다.

name = '홍길동', kor = 80, eng = 100, mat = 90** ;

score = {
        'name' : '홍길동',
        'kor' : 80,
        'eng' : 100,
        'mat' : 90
        }
```

- 중괄호{} 를 이용해서 key - value 쌍으로 구성된 자료구조
- key는 중복불가 : 유일한 값만 가능. list는 사용 불가
- value는 어떤 값이던 사용이 가능하다. 중복 또한 가능.
- 인덱스를 이용한 참조 지원 안 함.

In [28]:
dic = {
    'name' : '홍길동',
    1:22,
    (1,2) : [1,2],
}

In [29]:
print(type(dic))
print(dic)
print('데이터 개수 :', len(dic)) # key값을 기준으로 가져온다.

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 개수 : 3

In [54]:
my_favorite = {'fruits' :'apple', 'number' : 12, 'act' : 'golf'} # key는 보통 문자열을 사용하는 것이 일반적.
my_favorite, type(my_favorite)

({'fruits': 'apple', 'number': 12, 'act': 'golf'}, dict)

In [60]:
# print(my_favorite['people']) # 없는 키 값을 **인덱스** 방식으로 참조 시 에러
print(my_favorite.get('gender')) # ★ 오류의 경우를 줄일 수 있음. 
print(my_favorite.get('gender', '-')) # 없는 key 를 get 함수로 참조 시 두번째 인자를 반환
del my_favorite['number']
print(my_favorite)
my_favorite['number'] = 5
print(my_favorite)

None
-
{'fruits': 'apple', 'act': 'golf'}
{'fruits': 'apple', 'act': 'golf', 'number': 5}

In [79]:
# 딕셔너리 수정
my_favorite = {'fruits' :'apple', 'number' : 12, 'act' : 'golf'}
# my_favorite['number'] = 1,2
my_favorite['fruits'] = 'mango' # 데이터 수정
print('fruits 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동' # 데이터 추가
print('people 추가 후 :', my_favorite)
# del my_favorite['fruits'] # 데이터 제거
# print('fruits 제거 후 :', my_favorite)
remove_data = my_favorite.pop('number') # number의 값을 반환 후 제거
print('removed_data :', remove_data)
print('number 제거 후 :', my_favorite)

fruits 수정 후 : {'fruits': 'mango', 'number': 12, 'act': 'golf'}
people 추가 후 : {'fruits': 'mango', 'number': 12, 'act': 'golf', 'people': '홍길동'}
removed_data : 12
number 제거 후 : {'fruits': 'mango', 'act': 'golf', 'people': '홍길동'}

In [83]:
# for 문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999',)

In [92]:
for idx,data in enumerate(my_tup) :
    print(f'{idx}번째 데이터 : {data}')

0번째 데이터 : 홍길동
1번째 데이터 : 30
2번째 데이터 : 010-9999-9999

In [104]:
my_dic = {'name' : '홍길동', 'age' : 30, 'tel' : '010-9999-9999'}

for key in my_dic :
#     print(f'{key}') # 실무에서 사용할 일이 거의 없다
#     print(f'{key} : {my_dic.get(key)}') # 실무에서 사용할 일이 거의 없다
    print(f'{key} : {my_dic[key]}') # 실무에서 사용할 일이 거의 없다
    
print()
for key, val in my_dic.items() : # .items(), .keys(), .values() ***items() : 키와 값 모두 추출
    print(f'{key} : {val}')
print()
for val in my_dic.values() :  # 값 들만 추출
    print(f'{val}')
print()
for key in my_dic.keys() : # 키 들만 추출 **생략이 가능하다**
    print(f'{key}')

name : 홍길동
age : 30
tel : 010-9999-9999

name : 홍길동
age : 30
tel : 010-9999-9999

홍길동
30
010-9999-9999

name
age
tel

## 3.1 딕셔너리의 items()는 enumerate() 사용이 가능하다.

In [112]:
my_dic = {'name' : '홍길동', 'age' : 30, 'tel' : '010-9999-9999'}
print(list(enumerate(my_dic.items()))) # enumerate : 가상의 idx + (key, val) 형태로 구성
for idx, (key, val) in enumerate(my_dic.items()) :
    print(f'{idx + 1}번째 요소 : {key:>4} = {val}')

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]
1번째 요소 : name = 홍길동
2번째 요소 :  age = 30
3번째 요소 :  tel = 010-9999-9999

In [120]:
print("홍길동" in my_dic) # 키값에 접근, False 반환
print("홍길동" in my_dic.values())
print(("name","홍길동") in my_dic.items()) # 키, 값은 튜플 형태로 확인 가능

False
True
True

In [124]:
# 얕은 복사
my_favorite = {'fruits' : 'apple', 'number' : 12} # 원본
new_favorite = my_favorite # 복제본(얕은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruits': 'apple', 'number': 12, 'people': '홍길동'}
{'fruits': 'apple', 'number': 12, 'people': '홍길동'}

In [126]:
# 깊은 복사
my_favorite = {'fruits' : 'apple', 'number' : 12} # 원본
new_favorite = my_favorite.copy() # 복제본(깊은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruits': 'apple', 'number': 12}
{'fruits': 'apple', 'number': 12, 'people': '홍길동'}

# 4절 셋(집합)
***
- 중복을 허용하지 않는 집합 **(순서 x == index X)**
- 중괄호{} 혹은 set()를 이용해서 셋 생성
- 추가 : add(), update()
- 집합 연산자 : |(합집합) // &(교집합) // -(차집합)
- 데이터 삭제 : remove()

In [128]:
fruits = {'banana', 'orange', 'banana','banana','banana','banana','banana','banana','banana','banana','banana','banana','banana'}
print(fruits)

{'banana', 'orange'}

In [210]:
s1 = set([1,20,1,21,1,22,])
print(s1)

{1, 20, 21, 22}

In [216]:
# set 함수를 이용해서 딕셔너리를 셋으로 전환할 때는 키 값만 적용
my_favorite = {'fruits' : 'apple', 'number' : 12}
set(my_favorite.items()) # 딕셔너리 키 값만 들어간다. .values()는 값이 들어감. items()도 들어가기는 하는데.. 키와 값이 튜플형태로 집합안에 들어가네?

{('fruits', 'apple'), ('number', 12)}

## 데이터 추가하기
***
- add() : 기본 자료형, 튜플데이터 하나의 요소를 추가할 경우
- update() : extend 개념, 리스트, 튜플 속 모든 요소, 딕셔너리, 셋 요소 하나하나씩 추가 할 경우. dict 사용 시 key만 추가(.values()하면 값도 가능)

In [235]:
s2 = {1,1,2,3}
s2.add(4)
s2.update([5,6,7,8,8])
s3 = {10,11,12}
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [255]:
s = {1,0,4,2,3,7}
s.add(True) # True == 1의 개념으로 집합 안에 1이 있으면 더이상 추가되지 않음
s.add(False) # False == 0의 개념으로 집합 안에 0이 있으면 더이상 추가되지 않음
s
# 논리값 False 는 False, 0으로
# 논리값 True 는 True, 1으로

{0, 1, 2, 3, 4, 7}

In [257]:
s = {1,0,4,2,3,7}
s.remove(True)
s.remove(False)
s

{2, 3, 4, 7}

## 연산 : |(합집합) &(교집합) -(차집합)
***

&, | : 집합 연산자, 논리 연산자, 비트 연산자 // 논리 연산할 때 &, | 피하고 and or 위주로 사용

In [260]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(s1|s2, s1&s2, s1-s2)

{1, 2, 3, 4, 5, 6, 7} {3, 4, 5} {1, 2}

# 5절 enumerate
***
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수
- 리스트, 튜플, 딕셔너리에 가상의 index를 부여, set에 가상의 index를 부여하여 사용 가능

In [279]:
names = {'길자', '길동', '영자','영자','영자','영자',}
names 
for no, name in enumerate(names) : # 순서 없이 순회하며 프린트
    print(no, '.',name, sep='')

0.길자
1.영자
2.길동

In [313]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
addresses = ['서울', '인천', '판교']

# 이름 : 번호 주소 형태로
print('1안')
for i in range(len(names)) :
    print(f'{i+1}번째 고객 {names[i]}님, ☎ : {tels[i]} 주소 : {addresses[i]}')
print()
print('2안')
zipzip = zip(names,tels,addresses)
# print(list(zipzip)) # 정보를 순서에 맞춰 튜플 형태로 zip 객체에 저장
for idx, (name, tel, add) in enumerate(zipzip) :
    print(f'{idx+1}번째 고객 {name:3}님, ☎ : {tel:14s} 주소 : {add:3s}')

1안
1번째 고객 순자님, ☎ : 010-9999-9999 주소 : 서울
2번째 고객 길동님, ☎ : 010-8888-8888 주소 : 인천
3번째 고객 길자님, ☎ : 010-7777-7777 주소 : 판교

2안
1번째 고객 순자 님, ☎ : 010-9999-9999  주소 : 서울
2번째 고객 길동 님, ☎ : 010-8888-8888  주소 : 인천
3번째 고객 길자 님, ☎ : 010-7777-7777  주소 : 판교

In [318]:
A = ['ssas', 'ab', 'love', 'smart', 'phone']
set_A = set(A)
print(set_A)

{'ssas', 'phone', 'smart', 'love', 'ab'}

# 6절 연습문제

## 실습형.

In [319]:
# 1.
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [320]:
# 2. 
numbers.extend([200,300,400,500])
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [322]:
# 3.
print(numbers[:5])

[1, 2, 3, 4, 5]

In [323]:
# 4. 
print(numbers[::2])

[1, 3, 5, 7, 9, 100, 300, 500]

In [334]:
# 5.
print([numbers[idx] if idx%2 != 0 else 0 for idx in range(len(numbers))])

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [335]:
# 6.
print(numbers[::-1])

[500, 400, 300, 200, 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [340]:
# 7 ~ 10 
member_info = {'name' : '홍길동', 'age' : 20, 'address' : '서울시 마포구', 'score' : 90}

In [341]:
#7. address 
member_info = {'name' : '홍길동', 'age' : 20, 'address' : '서울시 마포구', 'score' : 90}
print(member_info['address'])

서울시 마포구

In [342]:
# 8. score / pop
member_info = {'name' : '홍길동', 'age' : 20, 'address' : '서울시 마포구', 'score' : 90}
print(member_info.pop('score'))
print(member_info)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [344]:
# 9. address = '서울시 서대문구'
member_info['address'] = '서울시 서대문구'
print(member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [345]:
# 10. values() -> list
print([member_info.values()])

[dict_values(['홍길동', 20, '서울시 서대문구'])]

## 서술형

In [346]:
# 1. 'orange', 'banana'
L1 = ('orange', 'apple', 'banana', 'kiwi')
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [347]:
# 2. 3번째 케이스 stop - 1 == 1까지만 반환
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

In [350]:
# 3. 4개
numbers_2d = [[1,2,3,4,5],[10,20,30,40,50],[1,3,5],[2,]]
print(len(numbers_2d))

4

In [351]:
# 4. extend
numbers = [1,2,3,4,5]
# numbers.________([10,20,30,40,50])
numbers.extend([10,20,30,40,50])
print(numbers) # numbers = [1,2,3,4,5,10,20,30,40,50]

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [352]:
# 5. 짝수번째 요소 = 0 / 실습형 5번
numbers = list(range(10)) # 0 ~ 9
numbers[::2] = [0] * len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [353]:
# 6. 짝수번째 요소 5 6 7 8 9 변경(개수 동일 시 실행 가능)
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [354]:
# 7. 짝수번째 요소 0 1 2 3 4 변경(개수 동일 시 실행 가능)
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [360]:
# 8. my_dic[0] # 오류 : 인덱싱 불가
my_dic = {
        'a':10, 
        'b' : 20,
        'c':30
        }
# my_dic[0] # 오류 : 인덱싱 불가
my_dic['a'] # 10
list(my_dic.items())[0][1]
list(my_dic.values())[0]
my_dic.get('a')

10

In [361]:
# 9.
fruits = ['apple', 'banana', 'orange']
x,y,z, = fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [362]:
# 10.
fruits = ['apple', 'banana', 'orange']
print(len(fruits))

3

In [ ]:
# 11. def