In [9]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; fo
nt-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:130px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size = 5, color = 'red'> ch09 파일 io(입출력) 프로그래밍 </font></b>
* 파일 : txt, pickle, csv, json, hdf5(h5)

# 1절 txt파일에 데이터 저장하고 불러오기
- 히스토리 남기는 용도

교육목적으로 아래와 같은 코드 중 open과 close만 활용

In [2]:
try :
    f= open('data/ch09.txt', 'w') # write stream 객체
    # 데이터 출력
except Exception as e:
    print(e)
finally :
    f.close()

In [3]:
f= open('data/ch09.txt', 'w')
print('쓰기 가능 여부 체크', f.writable())

쓰기 가능 여부 체크 True

In [4]:
f.write('Hello\nWorld')
f.close() # close() 하지 않으면 내용 저장 X

open, close 실수가 있을 수 있으니 with문을 사용하자

In [5]:
# mode | 'r' 또는 'rt' : text 읽기 모드 => 파일이 없으면 예외 발생
#        'rb' 바이너리 읽기 모드(r 모드가 안먹히면 rb)
#        'w' 또는 'wt' : text 쓰기 모드 => 덮어쓰기한다(파일이 있으면 덮어쓰기, 파일이 없으면 파일 생성), 폴더위치가 정확하지 않으면 예외
#        'wb' 바이너리 쓰기 모드
#        'a' 또는 'at' : text append 모드(파일이 있으면 append, 파일이 없으면 파일 생성)
#        읽기 모드에서 파일이 없으면 예외 발생 // 쓰기 모드에서 폴더가 없으면 예외 발생
# encoding
    # euc-kr (한글 완성형) 믜 X
    # cp949 (확장된 한글 완성형) : open()함수 기본 인코딩 방식(windows) 
    # utf-8 (한글 조합형) : mac, linux에서는 utf-8 방식, 주피터노트북 기본
with open('data/ch09.txt', 'w') as f :
    print('쓰기 가능 여부 체크', f.writable())
    f.write('Hello\nPython')

쓰기 가능 여부 체크 True

mode = 'w' 활용 가능한 모드
```
'r'       open for reading (default) => 'rt' : text모드로 열겠다 / 파일이 있는 경우 예외, 있는 경우 text 열기 모드
'w'       open for writing, truncating the file first
'x'       create a new file and open it for writing
'a'       open for writing, appending to the end of the file if it exists
'b'       binary mode
't'       text mode (default)
'+'       open a disk file for updating (reading and writing)
'U'       universal newline mode (deprecated)
```

In [6]:
with open('data/ch09.txt', 'a', encoding='utf-8') as f :
    # 여러줄 저장하는 방법
    # 1방법
    f.write('\n1방법\n')
    f.write('홍길동, 33, 아무동9\n')
    f.write('김길동, 22, 아무동8\n')
    # 2방법
    textlist = ['2방법\n','홍길동, 33, 아무동9\n','김길동, 22, 아무동8\n']
    for i in textlist :
        f.write(i)
    # ★★ 3방법 ★★
    textlist2 = ['3방법\n','홍길동, 33, 아무동9\n','김길동, 22, 아무동8\n']
    f.writelines(textlist2)

In [7]:
# 한 줄씩 읽기
with open('data/ch09.txt', 'r', encoding='utf-8') as f :
    line = f.readline()
    while line != '' :
        print(line, end = '')
        line = f.readline()

Hello
Python
1방법
홍길동, 33, 아무동9
김길동, 22, 아무동8
2방법
홍길동, 33, 아무동9
김길동, 22, 아무동8
3방법
홍길동, 33, 아무동9
김길동, 22, 아무동8

In [8]:
# ★★ 모든 줄 읽기 + 리스트로 반환하기 ★★
with open('data/ch09.txt', 'r', encoding='utf-8') as f :
    line = f.readlines()
    print(line)
    print(''.join(line))

['Hello\n', 'Python\n', '1방법\n', '홍길동, 33, 아무동9\n', '김길동, 22, 아무동8\n', '2방법\n', '홍길동, 33, 아무동9\n', '김길동, 22, 아무동8\n', '3방법\n', '홍길동, 33, 아무동9\n', '김길동, 22, 아무동8\n']
Hello
Python
1방법
홍길동, 33, 아무동9
김길동, 22, 아무동8
2방법
홍길동, 33, 아무동9
김길동, 22, 아무동8
3방법
홍길동, 33, 아무동9
김길동, 22, 아무동8

In [9]:
# 모든 줄 읽기
with open('data/ch09.txt', 'r', encoding='utf-8') as f :
    line = f.read()
    print(line)

Hello
Python
1방법
홍길동, 33, 아무동9
김길동, 22, 아무동8
2방법
홍길동, 33, 아무동9
김길동, 22, 아무동8
3방법
홍길동, 33, 아무동9
김길동, 22, 아무동8

# 2절 pickle 파일에 데이터 저장하고 불러오기

## 2.1 형식이 있는 txt 데이터 불러오기

In [10]:
class Member :
    __count = 0
    def __init__(self, name, age, email, address) :
        self.name = name
        self.age = age
        self.email = email
        self.address = address
        Member._Member__count += 1
        
    def count_member(self) :
        return Member._Member__count
    
    def __str__(self) :
        return f'{self.name}, {"성년" if self.age >=20 else "미성년"}, {self.email}, {self.address}'
    
    def as_dict(self) : # 딕셔너리 객체로 반환 __dict__
        return {'name' : self.name, 'age' : self.age, 'email' : self.email, 'address' : self.address}
    
    def __eq__(self, other) : # == 연산 간 체크하는 내용(Object 기본 함수)
        return self.name == other.name and \
                self.age == other.age and \
                self.email == other.email and \
                self.address == other.address

In [11]:
user1 = Member('홍',20,'a@a.com','신림동')
user2 = Member('홍',20,'a@a.com','신림동')
print(user1 == user2) # user1 에게 할당된 주소와 값 != user2에게 할당된 주소와 값
print(user1.__eq__(user2)) # 같은 내용이면 True가 되도록 하고 싶음

True
True

In [12]:
# 형식이 있는 txt 파일 내용을 Member 객체 리스트(피클로 저장하기 위함), 딕셔너리 리스트(DataFrame)로 저장
user_list = [] # Member list
user_dict = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='utf-8') as txt_file :
    lines = txt_file.readlines()
# print(lines) : 리스트 속 개인정보 문장이 3개 들어있는 형태
for line in lines :
    data = line.split(', ')
    # print(data)
    name = data[0].strip()
    age = int(data[1].strip())
    email = data[2].strip()
    address = data[3].strip()
    user = Member(name,age,email,address)
    user_list.append(user)
    # user_dict.append(user.as_dict())
    user_dict.append(user.__dict__)

In [13]:
print(user_dict)
print(user_list)
for i in user_list : # Member 클래스를 정의할 때 __str__(self)에 정의한 return값이 반환되서 확인이 가능하다.
    print(i)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}]
[<__main__.Member object at 0x00000236475C5390>, <__main__.Member object at 0x00000236475C7C40>, <__main__.Member object at 0x00000236475C5960>]
홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
신길동, 성년, shinkil@hong.com, 서울시 동작구

## 2.2 피클링
- 객체 리스트(user_list) -> 피클 파일로 쓰기
- 피클 파일을 읽기 -> 객체 리스트(load_user_list)

In [14]:
# 피클링을 이용한 객체를 저장하기
# user_list를 피클로 저장하기(쓰기)
# 오직 파이썬에서만 읽을 수 있는 구조
import pickle
with open('data/ch09_member.data', 'wb') as f : # txt파일이 아니니까 wb 바이너리 모드로!
    pickle.dump(user_list, f)

In [15]:
# 피클링을 이용한 파일에서 객체 데이터로 읽기
# load_user_list
with open('data/ch09_member.data', 'rb') as f : # txt파일이 아니니까 wb 바이너리 모드로!
    load_user_list = pickle.load(f)

In [16]:
load_user_list == user_list

True

In [17]:
# ★★ 코드 멋지게 풀어낸 방법 ★★
for idx, (user, load_user) in enumerate(zip(load_user_list,user_list)) : # zip : (a,b) 튜플로 묶어준다
    print(idx, user)
    print(idx, load_user)

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구

In [18]:
for i in range(len(user_list)) :
    print(i, user_list[i])
    print(i, load_user_list[i])

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구

In [19]:
# 데이터가 모두 같은 지 체크할 때 사용하는 all 함수
result = []
for user, load_user in zip(user_list, load_user_list) :
    result.append(user == load_user)
print(result)
print(all(result))
# 더 간략하게 아래와 같이 표현하면 된다.
all(user == load_user for (user, load_user) in zip(load_user_list,user_list))

[True, True, True]
True

True

# 3절 csv파일에 데이터 저장하고 불러오기
- csv 파일을 리스트 데이터로 읽기 csv <-> 리스트데이터 3.1 / 3.2
- csv 파일을 딕셔너리 데이터로 읽기 csv <-> 딕셔너리리스트 3.3 / 3.4

## 3.1 reader : csv파일 -> 리스트데이터

In [20]:
# ""(따옴표)가 없는 데이터는 numeric으로 csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)
import csv # csv파일을 다루는 lib
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f :
    reader = csv.reader(f, quoting = csv.QUOTE_NONNUMERIC) # 한 줄씩 읽고 리스트로 만들어준다. ','을 기준으로, strip()까지 해준다.
    result = list(reader) # 만약 여기서 사용하던 걸 밖에서 쓰려면 할당해서 가져와야한다
print(result)

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'], ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'], ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

## 3.2 writer : 리스트데이터 -> csv파일

In [21]:
import csv
list_data = [['홍길동', 20, 'kildong@hong.com', '서울시 관악구'], 
             ['김길동', 40, 'kimdong@hong.com', '서울시 영등포구'], 
             ['신길동', 30, 'sindong@hong.com', '서울시 동작구']]

with open('data/ch09_member1_write.csv', 'a', newline='', encoding='utf-8') as f :
    writer = csv.writer(f)
    writer.writerows(list_data)

In [22]:
with open('data/ch09_member1_write.csv', 'w', newline='', encoding='utf-8') as f :
    writer = csv.writer(f,quoting = csv.QUOTE_NONNUMERIC)
    writer.writerows(list_data)

## 3.3 DictReader : csv -> 딕셔너리리스트

In [23]:
# 만약 DataReader 메서드가 없었다면 아래와 같은 긴 과정이 필요하다.

In [24]:
# ""(따옴표)가 없는 데이터는 numeric으로 csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)
import csv # csv파일을 다루는 lib
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f :
    reader = csv.reader(f, quoting = csv.QUOTE_NONNUMERIC) # 한 줄씩 읽고 리스트로 만들어준다. ','을 기준으로, strip()까지 해준다.
    result = list(reader) # 만약 여기서 사용하던 걸 밖에서 쓰려면 할당해서 가져와야한다
# print(result)
dict_list = []
for data in result :
    dict_list.append(
        {
        'name' : data[0],
        'age' : data[1],
        'email' : data[2],
        'address' : data[3],
        }
        )
print(dict_list)

[{'name': '홍길동', 'age': 20.0, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 40.0, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30.0, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

In [25]:
# DictReader 한방에 해결
# 헤더가 없으면 만들어서 넣어주면 된다. header = ['name', 'age', 'email', 'address']
# ""(따옴표)가 없는 데이터는 numeric으로 csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)

import csv # csv파일을 다루는 lib
header = ['name', 'age', 'email', 'address']
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f :
    reader = csv.DictReader(f, fieldnames=header, quoting = csv.QUOTE_NONNUMERIC) # 한 줄씩 읽고 리스트로 만들어준다. ','을 기준으로, strip()까지 해준다.
    result = list(reader) # 만약 여기서 사용하던 걸 밖에서 쓰려면 할당해서 가져와야한다
print(result)

[{'name': '홍길동', 'age': 20.0, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 40.0, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30.0, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

In [26]:
with open('data/ch09_member3.csv',encoding='utf-8') as f :
    dict_reader = csv.DictReader(f)
    dict_list = list(dict_reader)
print(dict_list)
for row in dict_list :
    if row['job'] is None :
        print(row['name'], row['age'], row['email'], row['address'])
    else :
        print(row['name'], row['age'], row['email'], row['address'], row['job'])

[{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': None}, {'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}, {'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': None}]
홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [27]:
# 헤더가 없는 csv 파일(ch09_member1-cp.csv)을 딕셔너리로 읽기
header = ['name', 'age','email','address','job']
with open('data/ch09_member1-cp.csv') as f :
    dict_reader = csv.DictReader(f, fieldnames=header) # 포인터, stream객체 상태 사용하고 나면 with문에 의해 close()
    print(list(dict_reader))
    for row in dict_reader : # close()되어버림
        print(1)
        print(row)

[{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ''}, {'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': '팀장'}, {'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ''}]

In [28]:
# 헤더가 없는 csv 파일(ch09_member1-cp.csv)을 딕셔너리로 읽기
header = ['name', 'age','email','address','job']
with open('data/ch09_member1-cp.csv') as f :
    dict_reader = csv.DictReader(f, fieldnames=header) # 포인터, stream객체 상태 사용하고 나면 with문에 의해 close()
    # 사용하려면 변수에 할당해야한다.
    result = list(dict_reader)
print(result)

[{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ''}, {'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': '팀장'}, {'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ''}]

In [29]:
# 헤더가 없는 csv 파일(ch09_member1-cp.csv)을 딕셔너리로 읽기
header = ['name', 'age','email','address','job']
with open('data/ch09_member1-cp.csv') as f :
    dict_reader = list(csv.DictReader(f, fieldnames=header) )
print(dict_reader)

[{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ''}, {'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': '팀장'}, {'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ''}]

In [30]:
# 헤더가 없는 csv 파일(ch09_member1-cp.csv)을 딕셔너리로 읽기
header = ['name', 'age','email','address']
with open('data/ch09_member1-cp.csv') as f :
    dict_reader = list(csv.DictReader(f, fieldnames=header,
                                     restkey='Job'))
print(dict_reader)

[{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'Job': ['']}, {'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'Job': ['팀장']}, {'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'Job': ['']}]

## 3.4 DictWriter : 딕셔너리리스트 -> csv

In [31]:
user1 = {'name' : '홍길동', 'age' : 22, 'email' : 'a@a.com', 'address' : '신림동'}
user2 = {'name' : '신길동', 'age' : 32, 'email' : 'b@b.com', 'address' : '신갈동'}
user3 = {'name' : '홍길숙', 'age' : 42, 'email' : 'c@c.com', 'address' : '신원동'}
user_list = [user1,user2,user3]
fieldnames = list(user1.keys())

In [32]:
with open('data/ch09_member4.csv', 'a', newline='', encoding='utf-8') as f :
    dict_write = csv.DictWriter(f, fieldnames=fieldnames)
    dict_write.writeheader() # header 쓰기
    dict_write.writerows(user_list)

### 참고자료 : csv <-> 데이터프레임

In [33]:
import pandas as pd
df = pd.DataFrame(pd.read_pickle('data/ch09_member.data'))
df2 = pd.DataFrame(pd.read_csv('data/ch09_member4.csv'))
print(df)
df2.to_csv('data/data_check.csv')

                                     0
0   홍길동, 성년, kildong@hong.com, 서울시 관악구
1  홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
2   신길동, 성년, shinkil@hong.com, 서울시 동작구

# 4절 JSON 데이터 저장하고 불러오기(dump, load)
- 딕셔너리 리스트 <-> JSON 파일(기본)
- 객체리스트 <-> JSON 파일

## 4.1 dump : 파일 출력
- 딕셔너리 리스트 -> JSON 파일(기본)
- 객체리스트 -> JSON 파일

In [34]:
data = [{
        'name': '홍길동', 
        'age': 20, 
        'email': 'kildong@hong.com', 
        'address': '서울'},
        {'name': '신길동', 
         'age': 30, 
         'email': 'shinkil@hong.com', 
         'address': '인천'
        }]
data

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울'},
 {'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '인천'}]

In [35]:
# ensure_ascii 매개변수
    # True : 비ASCII문은 유니코드 형태로 저장
    # False : 비 ASCII문자 원래 형태로 저장
import json
with open('data/ch09_member.json', 'w', encoding='utf-8') as jsonfile :
    json.dump(data, # 딕셔너리 리스트
             jsonfile ,# 스트림 객체
             ensure_ascii=False,
             indent='\t') # 들여쓰기

In [36]:
class Member :
    __count = 0
    def __init__(self, name, age, email, address) :
        self.name = name
        self.age = age
        self.email = email
        self.address = address
        Member._Member__count += 1
        
    def count_member(self) :
        return Member._Member__count
    
    def __str__(self) :
        return f'{self.name}, {self.age}, {self.email}, {self.address}'
    
    def as_dict(self) : # 딕셔너리 객체로 반환 __dict__
        return {'name' : self.name, 'age' : self.age, 'email' : self.email, 'address' : self.address}
    
    def __eq__(self, other) : # == 연산 간 체크하는 내용(Object 기본 함수)
        if isinstance(other, Member) :
            return self.__str__() == other.__str__()
        else : 
            return False

In [37]:
user1 = Member('홍길동',22,'a@a.com','신림동')
user2 = Member('신길동',22,'a@a.com','신림동')
print(user1.__eq__(user2))
print(user1 == user2)

False
False

In [38]:
member_list = [user1, user2, Member('김길동',22,'a@a.com','신림동')]

In [39]:
import json
with open('data/ch09_member00.json','w',encoding='utf-8') as jsonfile :
    json.dump(member_list,
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict) # 객체를 딕셔너리로 return하는 인스턴스 함수

## 4.2 load : 파일 입력
- json파일 -> 딕셔너리 리스트 * 일반적
                ↓
- json파일 -> 객체리스트

In [40]:
import json
with open('data/ch09_member00.json','r',encoding='utf-8') as jsonfile :
    json_loader = json.load(jsonfile)
    result = list(json_loader)
print(result)

[{'name': '홍길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'}, {'name': '신길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'}, {'name': '김길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'}]

In [41]:
def as_member(dic) :
    '''매개변수로 딕셔너리를 입력받아 Member 객체를 리턴'''
    return Member(dic.get('name'),dic.get('age'),dic.get('email'),dic.get('address'))
member = as_member({'name': '홍길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'})
print(member)

홍길동, 22, a@a.com, 신림동

In [42]:
with open('data/ch09_member00.json', 'r', encoding='utf-8') as f :
    load_data = json.load(f)
load_data

[{'name': '홍길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'},
 {'name': '신길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'},
 {'name': '김길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'}]

In [43]:
with open('data/ch09_member.json', 'r', encoding='utf-8') as f :
    load_data_list = json.load(f, object_hook=as_member)
for mem in load_data_list :
    print(mem)

홍길동, 20, kildong@hong.com, 서울
신길동, 30, shinkil@hong.com, 인천

### 참고자료 : JSON -> 데이터프레임

In [44]:
import pandas as pd
pd.read_json('data/ch09_member00.json')
# pd.함수() : encoding = 'utf-8' 기본값으로 사용한다.
# open(파일, 모드='r', encoding='cp949')

  name  age    email address
0  홍길동   22  a@a.com     신림동
1  신길동   22  a@a.com     신림동
2  김길동   22  a@a.com     신림동

# 5절 HDF5 파일 읽기/쓰기
- h5py 라이브러리 활용
- *.h5 or *.hdf : 딥러닝 모델 저장에 용이
- HDViewer로 읽을 수 있음

## 5.1 hdf5 파일 쓰기
- 딕셔너리 리스트를 hdf5파일에 쓰기(default)
- 데이터프레임을 hdf5 파일에 쓰기

### 5.1.1 데이터프레임 쓰기

In [58]:
# seaborn : 시각화 패키지. 학습을 위한 데이터셋 다수
import seaborn as sns
iris_df = sns.load_dataset("iris") # seaborn 패키지에서 제공하는 iris 데이터셋DataFrame 파일
iris_df[::50] # 데이터의 상관 관계를 분석하고 N정규 분포(가우스분포)를 따르는가 검증하고 모델을 계획 : 유의미한 정보를 찾아봐야한다
display(iris_df[::50]) # 데이터프레임은 주피터 노트북에서 display해야 가독성이 좋다

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
100           6.3          3.3           6.0          2.5   virginica

In [59]:
iris_df.to_hdf('data/ch09_iris.hdf5', key = 'iris') # key 인자 필수

### 5.1.2 딕셔너리 리스트 쓰기

In [81]:
iris_dic = iris_df.to_dict() # 사용할 딕셔너리 데이터 생성
iris_dic.keys()

dict_keys(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])

In [83]:
for group, val in iris_dic.items() :
    print('그룹명 :', group)
    # print(val) # val : 딕셔너리 타입으로 내용 체크

그룹명 : sepal_length
{0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4, 6: 4.6, 7: 5.0, 8: 4.4, 9: 4.9, 10: 5.4, 11: 4.8, 12: 4.8, 13: 4.3, 14: 5.8, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9}
그룹명 : sepal_width
{0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9, 6: 3.4, 7: 3.4, 8: 2.9, 9: 3.1, 10: 3.7, 11: 3.4, 12: 3.0, 13: 3.0, 14: 4.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0}
그룹명 : petal_length
{0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7, 6: 1.4, 7: 1.5, 8: 1.4, 9: 1.5, 10: 1.5, 11: 1.6, 12: 1.4, 13: 1.1, 14: 1.2, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1}
그룹명 : petal_width
{0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4, 6: 0.3, 7: 0.2, 8: 0.2, 9: 0.1, 10: 0.2, 11: 0.2, 12: 0.1, 13: 0.1, 14: 0.2, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8}
그룹명 : species
{0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa', 5: 'setosa', 6: 'setosa', 7: 'setosa', 8: 'setosa', 9: 'setosa', 10: 'setosa', 11: 'setosa', 12: 'setosa', 13: 'setosa', 14: 'setosa', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica'}

In [119]:
for group, val in iris_dic.items() :
    print('그룹명 :', group)
    print(val) # val : 딕셔너리 타입
    for key, data in val.items() :
        print(f'{str(key)}:{data}', end = '\t')
    print() # 개행

그룹명 : sepal_length
{0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4, 6: 4.6, 7: 5.0, 8: 4.4, 9: 4.9, 10: 5.4, 11: 4.8, 12: 4.8, 13: 4.3, 14: 5.8, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9}
0:5.1	1:4.9	2:4.7	3:4.6	4:5.0	5:5.4	6:4.6	7:5.0	8:4.4	9:4.9	10:5.4	11:4.8	12:4.8	13:4.3	14:5.8	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9
그룹명 : sepal_width
{0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9, 6: 3.4, 7: 3.4, 8: 2.9, 9: 3.1, 10: 3.7, 11: 3.4, 12: 3.0, 13: 3.0, 14: 4.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0}
0:3.5	1:3.0	2:3.2	3:3.1	4:3.6	5:3.9	6:3.4	7:3.4	8:2.9	9:3.1	10:3.7	11:3.4	12:3.0	13:3.0	14:4.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0
그룹명 : petal_length
{0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7, 6: 1.4, 7: 1.5, 8: 1.4, 9: 1.5, 10: 1.5, 11: 1.6, 12: 1.4, 13: 1.1, 14: 1.2, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1}
0:1.4	1:1.4	2:1.3	3:1.5	4:1.4	5:1.7	6:1.4	7:1.5	8:1.4	9:1.5	10:1.5	11:1.6	12:1.4	13:1.1	14:1.2	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1
그룹명 : petal_width
{0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4, 6: 0.3, 7: 0.2, 8: 0.2, 9: 0.1, 10: 0.2, 11: 0.2, 12: 0.1, 13: 0.1, 14: 0.2, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8}
0:0.2	1:0.2	2:0.2	3:0.2	4:0.2	5:0.4	6:0.3	7:0.2	8:0.2	9:0.1	10:0.2	11:0.2	12:0.1	13:0.1	14:0.2	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8
그룹명 : species
{0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa', 5: 'setosa', 6: 'setosa', 7: 'setosa', 8: 'setosa', 9: 'setosa', 10: 'setosa', 11: 'setosa', 12: 'setosa', 13: 'setosa', 14: 'setosa', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica'}
0:setosa	1:setosa	2:setosa	3:setosa	4:setosa	5:setosa	6:setosa	7:setosa	8:setosa	9:setosa	10:setosa	11:setosa	12:setosa	13:setosa	14:setosa	15:setosa	16:setosa	17:setosa	18:setosa	19:setosa	20:setosa	21:setosa	22:setosa	23:setosa	24:setosa	25:setosa	26:setosa	27:setosa	28:setosa	29:setosa	30:setosa	31:setosa	32:setosa	33:setosa	34:setosa	35:setosa	36:setosa	37:setosa	38:setosa	39:setosa	40:setosa	41:setosa	42:setosa	43:setosa	44:setosa	45:setosa	46:setosa	47:setosa	48:setosa	49:setosa	50:versicolor	51:versicolor	52:versicolor	53:versicolor	54:versicolor	55:versicolor	56:versicolor	57:versicolor	58:versicolor	59:versicolor	60:versicolor	61:versicolor	62:versicolor	63:versicolor	64:versicolor	65:versicolor	66:versicolor	67:versicolor	68:versicolor	69:versicolor	70:versicolor	71:versicolor	72:versicolor	73:versicolor	74:versicolor	75:versicolor	76:versicolor	77:versicolor	78:versicolor	79:versicolor	80:versicolor	81:versicolor	82:versicolor	83:versicolor	84:versicolor	85:versicolor	86:versicolor	87:versicolor	88:versicolor	89:versicolor	90:versicolor	91:versicolor	92:versicolor	93:versicolor	94:versicolor	95:versicolor	96:versicolor	97:versicolor	98:versicolor	99:versicolor	100:virginica	101:virginica	102:virginica	103:virginica	104:virginica	105:virginica	106:virginica	107:virginica	108:virginica	109:virginica	110:virginica	111:virginica	112:virginica	113:virginica	114:virginica	115:virginica	116:virginica	117:virginica	118:virginica	119:virginica	120:virginica	121:virginica	122:virginica	123:virginica	124:virginica	125:virginica	126:virginica	127:virginica	128:virginica	129:virginica	130:virginica	131:virginica	132:virginica	133:virginica	134:virginica	135:virginica	136:virginica	137:virginica	138:virginica	139:virginica	140:virginica	141:virginica	142:virginica	143:virginica	144:virginica	145:virginica	146:virginica	147:virginica	148:virginica	149:virginica

In [95]:
# 딕셔너리 리스트를 hdf5 파일로 쓰기
import h5py
with h5py.File('data/ch09_iris_dic.hdf5', 'w') as f : # open이 아니라 File로 쓰기 가능한 stream 객체 생성
    for group, value in iris_dic.items() :
        grp = f.create_group(group) # 그룹을 먼저 형성하고
        for key, data in value.items() :
            grp.create_dataset(str(key), data = data) # 그룹 속에 내용을 추가한다. key는 항상 문자로 기입하도록 한다.

## 5.2 hdf5 파일 읽기
- *.hdf5 => 딕셔너리 리스트으로 읽기
- *.hdf5 => 데이터프레임으로 읽기

### 5.2.1 데이터프레임 읽기

In [73]:
import pandas as pd

load_iris_df = pd.read_hdf('data/ch09_iris.hdf5', key = 'iris')
# load_iris_df는 iris_df와 동일한가? : all(iris_df == load_iris_df) 사용

display(load_iris_df[::50])
all(iris_df == load_iris_df) # 두 데이터프레임 변수의 모든 행과 열의 값이 같은 지 여부

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
100           6.3          3.3           6.0          2.5   virginica

True

In [71]:
all(iris_df == load_iris_df)

True

### 5.2.2  ★★ 딕셔너리 리스트 읽기 ★★
- 주의사항 : hdf5 파일은 h5py 라이브러리의 .File() 메서드로 접근하며
- 숫자는 **.hdf5 => 딕셔너리 리스트 과정에서 문제가 없으나 str의 경우 bytes 타입으로 반환한다
- 이 문제는 byte타입 문자.decode('utf-8') if isinstance(문자, bytes) else 문자 변환시켜서 사용하면 문제 없다

In [100]:
# 딕셔너리 리스트를 hdf5 파일로 읽기
import h5py
with h5py.File('data/ch09_iris_dic.hdf5', 'r') as f : # open이 아니라 File로 읽기 가능한 stream 객체 생성
    for group, value in f.items() :
        print('그룹 :',group)
        using_data = {}
        for key, data in value.items() :
            using_data[key] = data
            print(f'{key}:{data[()]}', end = '\t') # data[()] : hdf5의 DataSet타입을 가져올 때 사용하는 문법
        using_data[group] = using_data

그룹 : petal_length
0:1.4	1:1.4	10:1.5	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	11:1.6	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	12:1.4	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	13:1.1	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	14:1.2	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	2:1.3	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	3:1.5	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	4:1.4	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	5:1.7	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	6:1.4	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	7:1.5	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	8:1.4	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	9:1.5	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	그룹 : petal_width
0:0.2	1:0.2	10:0.2	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	11:0.2	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	12:0.1	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	13:0.1	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	14:0.2	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	2:0.2	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	3:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	4:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	5:0.4	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	6:0.3	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	7:0.2	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	8:0.2	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	9:0.1	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	그룹 : sepal_length
0:5.1	1:4.9	10:5.4	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	11:4.8	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	12:4.8	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	13:4.3	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	14:5.8	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	2:4.7	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	3:4.6	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	4:5.0	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	5:5.4	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	6:4.6	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	7:5.0	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	8:4.4	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	9:4.9	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	그룹 : sepal_width
0:3.5	1:3.0	10:3.7	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	11:3.4	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	12:3.0	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	13:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	14:4.0	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	2:3.2	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	3:3.1	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	4:3.6	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	5:3.9	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	6:3.4	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	7:3.4	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	8:2.9	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	9:3.1	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	그룹 : species
0:b'setosa'	1:b'setosa'	10:b'setosa'	100:b'virginica'	101:b'virginica'	102:b'virginica'	103:b'virginica'	104:b'virginica'	105:b'virginica'	106:b'virginica'	107:b'virginica'	108:b'virginica'	109:b'virginica'	11:b'setosa'	110:b'virginica'	111:b'virginica'	112:b'virginica'	113:b'virginica'	114:b'virginica'	115:b'virginica'	116:b'virginica'	117:b'virginica'	118:b'virginica'	119:b'virginica'	12:b'setosa'	120:b'virginica'	121:b'virginica'	122:b'virginica'	123:b'virginica'	124:b'virginica'	125:b'virginica'	126:b'virginica'	127:b'virginica'	128:b'virginica'	129:b'virginica'	13:b'setosa'	130:b'virginica'	131:b'virginica'	132:b'virginica'	133:b'virginica'	134:b'virginica'	135:b'virginica'	136:b'virginica'	137:b'virginica'	138:b'virginica'	139:b'virginica'	14:b'setosa'	140:b'virginica'	141:b'virginica'	142:b'virginica'	143:b'virginica'	144:b'virginica'	145:b'virginica'	146:b'virginica'	147:b'virginica'	148:b'virginica'	149:b'virginica'	15:b'setosa'	16:b'setosa'	17:b'setosa'	18:b'setosa'	19:b'setosa'	2:b'setosa'	20:b'setosa'	21:b'setosa'	22:b'setosa'	23:b'setosa'	24:b'setosa'	25:b'setosa'	26:b'setosa'	27:b'setosa'	28:b'setosa'	29:b'setosa'	3:b'setosa'	30:b'setosa'	31:b'setosa'	32:b'setosa'	33:b'setosa'	34:b'setosa'	35:b'setosa'	36:b'setosa'	37:b'setosa'	38:b'setosa'	39:b'setosa'	4:b'setosa'	40:b'setosa'	41:b'setosa'	42:b'setosa'	43:b'setosa'	44:b'setosa'	45:b'setosa'	46:b'setosa'	47:b'setosa'	48:b'setosa'	49:b'setosa'	5:b'setosa'	50:b'versicolor'	51:b'versicolor'	52:b'versicolor'	53:b'versicolor'	54:b'versicolor'	55:b'versicolor'	56:b'versicolor'	57:b'versicolor'	58:b'versicolor'	59:b'versicolor'	6:b'setosa'	60:b'versicolor'	61:b'versicolor'	62:b'versicolor'	63:b'versicolor'	64:b'versicolor'	65:b'versicolor'	66:b'versicolor'	67:b'versicolor'	68:b'versicolor'	69:b'versicolor'	7:b'setosa'	70:b'versicolor'	71:b'versicolor'	72:b'versicolor'	73:b'versicolor'	74:b'versicolor'	75:b'versicolor'	76:b'versicolor'	77:b'versicolor'	78:b'versicolor'	79:b'versicolor'	8:b'setosa'	80:b'versicolor'	81:b'versicolor'	82:b'versicolor'	83:b'versicolor'	84:b'versicolor'	85:b'versicolor'	86:b'versicolor'	87:b'versicolor'	88:b'versicolor'	89:b'versicolor'	9:b'setosa'	90:b'versicolor'	91:b'versicolor'	92:b'versicolor'	93:b'versicolor'	94:b'versicolor'	95:b'versicolor'	96:b'versicolor'	97:b'versicolor'	98:b'versicolor'	99:b'versicolor'

In [102]:
# 딕셔너리 정보 추가하기
p = {}
p['name'] = '홍'
p.update({'age':'20'})
p

{'name': '홍', 'age': '20'}

In [142]:
load_iris_dict = {}
# dict_keys(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])
import h5py
with h5py.File('data/ch09_iris_dic.hdf5', 'r') as f : # open이 아니라 File로 읽기 가능한 stream 객체 생성
    for group, value in f.items() :
        temp = {}
        
        for key, data in value.items() :
            temp[int(key)] = data[()].decode('utf-8') if isinstance(data[()], bytes) else data[()]
            # data[()]는 h5py의 문법, 
            # species에서 b가 하나 붙는데 bytes타입이란 뜻으로 decode 필요(디코딩할데이터.decode('utf-8'))

        load_iris_dict[group] = temp
print(load_iris_dict)

{'petal_length': {0: 1.4, 1: 1.4, 10: 1.5, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 11: 1.6, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 12: 1.4, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 13: 1.1, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 14: 1.2, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 2: 1.3, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 3: 1.5, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 4: 1.4, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 5: 1.7, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 6: 1.4, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 7: 1.5, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 8: 1.4, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 9: 1.5, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1}, 'petal_width': {0: 0.2, 1: 0.2, 10: 0.2, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 11: 0.2, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 12: 0.1, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 13: 0.1, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 14: 0.2, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 2: 0.2, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 3: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 4: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 5: 0.4, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 6: 0.3, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 7: 0.2, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 8: 0.2, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 9: 0.1, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3}, 'sepal_length': {0: 5.1, 1: 4.9, 10: 5.4, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 11: 4.8, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 12: 4.8, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 13: 4.3, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 14: 5.8, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 2: 4.7, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 3: 4.6, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 4: 5.0, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 5: 5.4, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 6: 4.6, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 7: 5.0, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 8: 4.4, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 9: 4.9, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7}, 'sepal_width': {0: 3.5, 1: 3.0, 10: 3.7, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 11: 3.4, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 12: 3.0, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 13: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 14: 4.0, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 2: 3.2, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 3: 3.1, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 4: 3.6, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 5: 3.9, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 6: 3.4, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 7: 3.4, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 8: 2.9, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 9: 3.1, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8}, 'species': {0: 'setosa', 1: 'setosa', 10: 'setosa', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 11: 'setosa', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 12: 'setosa', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 13: 'setosa', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 14: 'setosa', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 2: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 3: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 4: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 5: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 6: 'setosa', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 7: 'setosa', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 8: 'setosa', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 9: 'setosa', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor'}}

In [143]:
iris_dic == load_iris_dict

True

# 6절 ★★연습문제 : 고객 관리 프로그램
- 프로그램 시작 시 'data/ch09_customer_list.txt'(고객 데이터 백업용)의 내용을 load
        - 'data/ch09_customer_list.txt' 내용
            - 이름, 전화번호, 메일, 나이, 고객등급(1~5), 기타
            - 홍길동, 010-9999-9999, a@a.com, 20, 3, 까칠
            - 유길동, 010-5432-1234, b@a.com, 30, 3, 까칠
- 파일이 없으면 자동으로 생성하고 데이터를 로드
- 종료 시 파일 저장 후 종료
- 프로그래밍 시 필요한 기능을 우선 구현하고 이후 모든 것을 활용할 main() 함수를 구현한다.
## 6-1-0. 스스로 구현
## 6-1. Customer class 생성

In [1]:
class Customer :
    '''고객 데이터와 as_dic(), to_list_style(txt 백업 시), __str__()'''
    def __init__(self,name,phone,email,age,grade,etc) :
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic(self) : # csv파일 저장용
        return {'name' : self.name, 'phone' : self.phone, 'email' : self.email, 'age':self.age, 'grade':self.grade, 'etc':self.etc}
    def to_list_style(self) : # txt 저장용
        return f'{self.name},{self.phone},{self.email},{self.age},{self.grade},{self.etc}\n'
    def __str__(self) : # 전체 출력용으로 사용
        return f"{'*' * int(self.grade):>5}\t{self.name:>3}\t\t{self.phone:>13}\t\t{self.email:^20}\t{self.age:>3}\t{self.etc:^5}"

In [2]:
def to_customer(row) :
    '''
    txt 파일 내용을 Customer 객체로 반환
    ex) '홍길동,010-9999-9999,a@a.com,30,3,까칠해'
    '''
    member_info = row.strip().split(',')
    return Customer(member_info[0],member_info[1],member_info[2],member_info[3],member_info[4],member_info[5])

In [14]:
c1 = Customer('홍길동','010-9999-9999','a@a.com',30,3,'까칠해')
print(c1)
print(c1.as_dic())
print(c1.to_list_style())
c2 = to_customer('홍길동,010-9999-9999,a@a.com,30,3,까칠해')
print(c2)

  ***	홍길동		010-9999-9999		      a@a.com       	 30	 까칠해
{'name': '홍길동', 'phone': '010-9999-9999', 'email': 'a@a.com', 'age': 30, 'grade': 3, 'etc': '까칠해'}
홍길동,010-9999-9999,a@a.com,30,3,까칠해

  ***	홍길동		010-9999-9999		      a@a.com       	 30	 까칠해

0.실행하면 data/ch09_customers.txt 파일의 내용을 load(customer_list)
data/ch09_customers.txt이 존재하지 않으면
빈 data/ch09_customers.txt 파일을 생성하고
데이터는 customer_list=[]

In [21]:
# 구동파일 : 데이터베이스 없으면 만들고 실행, 있으면 그냥 데이터를 customer_list에 저장

def start() :
    while True :
        try :
            with open('data/ch09_customer.txt','r', encoding='utf-8') as f :
                lines = f.readlines()
                customer_list = lines
                break
        except :
            with open('data/ch09_customer.txt','a', encoding='utf-8') as f :
                pass
    return customer_list
customer_list = start()
info_format = '''==========================================================================================
                            고객 정보
------------------------------------------------------------------------------------------
GRADE\t이름\t\t\t전화\t\t\t메일\t\t나이\t기타
=========================================================================================='''

In [4]:
def fn1_insert_customers() : # 정보 입력하기
    while True :
        try :
            name = input('이름 : ')
            phone = input('전화번호 : ')
            email = input('이메일 : ')
            age = int(input('나이 : '))
            grade = int(input('고객등급(1~5) : '))
            etc = input('기타정보 : ')
            customer = Customer(name,phone,email,age,grade,etc)
            with open('data/ch09_customer.txt','a', encoding='utf-8') as f : 
                f.write(customer.to_list_style())
            print('새로운 정보를 입력하였습니다.')
            break
        except Exception :
            print('잘못된 정보를 입력하셨습니다.')

In [5]:
def fn2_print_customers() :
    print(info_format)
    for i in customer_list :
        print(to_customer(i))

In [6]:
def fn3_delete_customers() :
    name = input('삭제할 이름을 입력하세요 : ')
    phone = input('가입하신 번호를 입력하세요 : ')
    for idx,data in enumerate(customer_list) :
        if name in data and phone in data :
            customer_list.pop(idx)
    print('정보를 삭제하였습니다.')

In [11]:
def fn4_search_customer() :
    name = input('찾으실 이름을 입력하세요 : ')
    name_list = [to_customer(i).name for i in customer_list]
    if name in name_list :
        print('탐색 결과는 아래와 같습니다.')
        for idx,data in enumerate(customer_list) :
            if name == data.strip().split(',')[0] :
                print(info_format)
                print(to_customer(data)) 
    else :
        raise Exception('해당 내용이 존재하지 않습니다.')

In [15]:
def fn5_save_customer_csv() :
    import csv
    while True :
        try :
            file_name = input('파일 이름을 입력하세요 : ')
            if file_name.strip() == '' : 
                raise Exception
            with open(f'data/{file_name}.csv', 'w', encoding='utf-8', newline='') as f :
                writer = csv.DictWriter(f, fieldnames=['name','phone','email','age','grade','etc'])
                for i in customer_list :
                    wri = to_customer(i)
                    writer.writerow(wri.as_dic())
            print(f'{file_name}.csv 파일로 저장하였습니다.')
            break
        except Exception('다시 시도하세요...') as e:
            print(e)

In [ ]:
def fn9_save_customer_txt() :
    with open('data/ch09_customer.txt','w', encoding='utf-8') as f :
        f.writelines(customer_list)
    print('파일을 백업하였습니다.')

In [30]:
def main() :
    import csv
    customer_list = start()
    while True :
        try :
            numb = int(input('1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(csv)|9:종료 메뉴 선택 : '))
            if numb not in [1,2,3,4,5,9] :
                raise Exception
            if numb == 1 :
                fn1_insert_customers()
            elif numb == 2 :
                fn2_print_customers()
            elif numb == 3 :
                fn3_delete_customers()
            elif numb == 4 :
                fn4_search_customer()
            elif numb == 5 :
                fn5_save_customer_csv
            elif numb == 9 :
                fn9_save_customer_txt()
                break
        except :
            print('정상적인 접근 방식이 아닙니다.')

## 6-1-1 선생님 구현

In [264]:
class Customer:
    '고객데이터와 as_dic(), to_list_style(txt백업시), __str__()'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age  = age
        self.grade = grade
        self.etc = etc
    def as_dic(self):
        return {"name":self.name, 
                "phone":self.phone, 
                "email":self.email,
                "age":self.age, 
                "grade":self.grade, 
                "etc":self.etc}
    def to_list_style(self):
        # return "홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해"
#         return "{}, {}, {}, {}, {}, {}".format(self.name, self.phone, self.email,
#                                               self.age, self.grade, self.etc)
        temp = [self.name, 
                self.phone, 
                self.email, 
                str(self.age), 
                str(self.grade), 
                self.etc]
        return ', '.join(temp)
    def __str__(self):
        # return "  *** 홍길동, 010-9999-9999, a@a.com, 30, 까칠해"
        return "{:>5}\t{:^3}\t{:^13}\t{:^20}\t{:^3}\t{}".format('*'*self.grade,
                       self.name, self.phone, self.email, self.age, self.etc)

In [265]:
def to_customer(row):
    '''
    row = "홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해"(txt파일 내용)을 매개변수로 받아
    Customer 객체로 return 
    '''
    data = row.split(',')
    name = data[0]
    phone = data[1].strip() # strip은 앞뒤 white space 제거
    email = data[2].strip()
    age = int(data[3].strip())
    grade = int(data[4].strip())
    etc = data[5].strip()
    return Customer(name, phone, email, age, grade, etc)

In [266]:
c1 = Customer("홍길동", "010-9999-9999", "a@a.com", 30, 3, "까칠해")
print(c1)
print('as_dic() =',c1.as_dic())
print('to_list_style() =',c1.to_list_style())
c2 = to_customer("홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해")
print(c2)

  ***	홍길동	010-9999-9999	      a@a.com       	30 	까칠해
as_dic() = {'name': '홍길동', 'phone': '010-9999-9999', 'email': 'a@a.com', 'age': 30, 'grade': 3, 'etc': '까칠해'}
to_list_style() = 홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해
  ***	홍길동	010-9999-9999	      a@a.com       	30 	까칠해

### 0. 처음 실행 시 호출
- ch09_customers.txt(백업데이터)에서 customer_list return
- 파일이 없으면 빈 파일 생성, customer_list = [] return

In [289]:
def load_customers():
    customer_list = []
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f:
            # txt 데이터 한줄씩 customer 객체로 받아 customer_list.append
            lines = f.readlines()
            for line in lines:
                #line = "홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해"
                customer = to_customer(line)
                # print(customer)
                customer_list.append(customer)
            print('데이터를 로드하였습니다.')
    except:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            print('초기화 파일을 생성했습니다')
    return customer_list

In [268]:
customer_list = load_customers()
for customer in customer_list:
    print(customer)

*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음

### 1. 입력

In [269]:
def fn1_insert_customer_info():
    '사용자로 부터 name, phone, email, grade, etc를 입력받아 Customer 객체 반환'
    import re
    name = input('이름 : ')
#    name_pattern = r'([가-힣]{2,})|[a-zA-Z]{3,}'
    name_pattern = r'[가-힣]{2,}'
    while not re.search(name_pattern,name) :
        print('이름을 제대로 입력하세요(한글로 2글만 이상) : ')
        name = input('이름')
    phone = input('전화 : ')
    email = input('메일 : ')
    while True :
        try :
            age = int(input('나이 : '))
            if not (0<age<130) :
                raise Exception
            break
        except :
            print('올바른 나이를 입력하세요.나이의 허용 범위는 1살 이상 130살 미만입니다..')
    try :
        grade = int(input('등급(1~5) : '))
        if grade < 1 :
            grade = 1
        if grade > 5 :
            grade = 5
    except :
        print('유효하지 않은 등급 입력시 1등급으로 초기화')
        grade = 1
    etc = input('기타 정보 : ')
    customer = Customer(name,phone,email,age,grade,etc)
    customer_list.append(customer)
    return customer

In [270]:
# 1번 함수 테스트
# fn1_insert_customer_info()
for i in customer_list :
    print(i)

*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음

In [240]:
customer_list=load_customers()

### 2. 전체 출력

In [271]:
def fn2_print_customers(customer_list):
    print('=' * 80)
    print(f'{"고객정보":^80}')
    print('-' * 80)
    print(f"{'GRADE':^5}\t{'이름':^3}\t{'전화':^13}\t{'메일':^20}\t{'나이':^3}\t{'기타'}")
    print('=' * 80)
    for customer in customer_list :
        print(customer)
    print('=' * 80)

In [272]:
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음
================================================================================

### 3. 삭제

In [273]:
# 선생님 풀이
# 1. 동명 이인이 없을 경우
def fn3_teacher_delete_customer1(customer_list) :
    delete_name = input('삭제할 고객 이름은?')
    for data in customer_list :
        if data.name == delete_name :
            customer_list.remove(data)
            print(f'{delete_name}님의 정보를 삭제하였습니다.')
            break
    else :
        print(f'{delete_name}님의 이름으로 가입된 정보가 없습니다.')

In [164]:
customer_list = load_customers()
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
================================================================================

In [139]:
fn3_teacher_delete_customer1(customer_list)

삭제할 고객 이름은?이미숙
이미숙님의 이름으로 가입된 정보가 없습니다.

In [186]:
customer_list = load_customers()
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
================================================================================

In [274]:
# 선생님 풀이
# 2. 동명 이인이 있을 경우 모두 삭제
def fn3_teacher_delete_customer2(customer_list) :
    delete_name = input('삭제할 고객 이름은? : ')
    delete_idx = []
    for idx,customer in enumerate(customer_list) :
        if customer.name == delete_name :
            delete_idx.append(idx)
    if not delete_idx :
        print(f'{delete_name}님의 이름으로 저장된 정보는 확인되지 않아요.')
    else :
        cnt = 0
        for i,idx in enumerate(delete_idx[::-1]) :
            customer_list.pop(idx)
            cnt +=1
            print(f'{i+1}번째 정보를 삭제중입니다...')
        print(f'정보를 모두 {cnt}건 삭제하였습니다.')

In [185]:
fn3_teacher_delete_customer2(customer_list)

삭제할 고객 이름은? : 홍길동
홍길동님의 이름으로 저장된 정보는 확인되지 않아요.

In [181]:
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
================================================================================

#### 삭제 개인 풀이

In [275]:
# 본인 풀이 : 원하는 정보/해당하는 정보를 선택하여 삭제하기

def fn3_delete_customer(customer_list):
    '''
    동명이인이 있다(이름, 번호를 기입해서 삭제) or 삭제할 정보 보여주고 선택하게 하기
    '''
    name = input('삭제하실 이름을 입력하세요 : ')
    name_candidate = [customer.name for customer in customer_list]
    if not name in name_candidate :
        print('해당이름으로 가입된 정보가 없습니다.')
    else :
        name_list = []
        for idx, customer in enumerate(customer_list) :
            if customer.name == name :
                name_list.append(customer_list[idx])
        print('확인된 정보는 아래와 같습니다.')
        print('=' * 80)
        print(f'{"고객정보":^80}')
        print('-' * 80)
        print(f"{'GRADE':^5}\t{'이름':^3}\t{'전화':^13}\t{'메일':^20}\t{'나이':^3}\t{'기타'}")
        print('=' * 80)
        for idx, customer in enumerate(name_list) :
            print(idx+1, customer)
        print('=' * 80)
        try :
            while True :
                numb = int(input('삭제하고자 하는 정보는 몇 번째 정보입니까?(취소 : 취소입력) : '))
                if (numb-1) in range(len(name_list)) :
                    break
                else :
                    print('올바른 순번을 입력하세요.')
            name_list.pop(numb-1)
            print(f'{name}님의 {numb}번째 정보를 삭제하였습니다.')
            for data in customer_list :
                if data.name == name and data not in name_list :
                    customer_list.remove(data)
        except :
            print('정보를 확인해주세요')

In [160]:
customer_list = load_customers()

In [276]:
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음
================================================================================

In [162]:
fn3_delete_customer(customer_list)

삭제하실 이름을 입력하세요 : 이미숙
해당이름으로 가입된 정보가 없습니다.

In [145]:
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-난첫번째-9999	   hong@naver.com   	23 	-
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
================================================================================

### 4. 이름찾기

In [277]:
def fn4_search_customer(customer_list):
    '''
    입력받은 이름 정보를 모두 출력
    '''
    find_name = input('찾고자 하는 성함을 입력하세요 : ')
    name_candidate = [customer.name for customer in customer_list]
    if not find_name in name_candidate :
        print('해당이름으로 가입된 정보가 없습니다.')
    else :
#        name_list = []
#         for idx, customer in enumerate(customer_list) :
#             if customer.name == find_name :
#                 name_list.append(customer_list[idx])
        print('확인된 정보는 아래와 같습니다.')
        print('=' * 80)
        print(f'{"고객정보":^80}')
        print('-' * 80)
        print(f"{'GRADE':<5}\t{'이름':^3}\t{'전화':^13}\t{'메일':^20}\t{'나이':^3}\t{'기타'}")
        print('=' * 80)
        for customer in customer_list :
            if customer.name == find_name :
                print(customer)
        print('=' * 80)

In [278]:
fn4_search_customer(customer_list)

찾고자 하는 성함을 입력하세요 : 홍길동
확인된 정보는 아래와 같습니다.
================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
================================================================================

### 5. 내보내기(csv)

In [279]:
def fn5_save_customer_csv(customer_list):
    import csv
    try :
        file_name = input('파일 이름을 입력하세요')
        csv_list = [customer.as_dic() for customer in customer_list]
        with open(f'data/{file_name}.csv', 'w', encoding='utf-8', newline='') as f :
            writer = csv.DictWriter(f, fieldnames=csv_list[0].keys())
            writer.writerows(csv_list)
        print(f'{file_name}.csv 파일 저장 완료입니다.')
    except Exception as e:
        print('잘못된 접근 같은데?', e)

In [280]:
fn5_save_customer_csv(customer_list)

파일 이름을 입력하세요실험중입니다
실험중입니다.csv 파일 저장 완료입니다.

### 6. 종료

In [281]:
def fn9_save_customer_txt(customer_list):
    '''
    종료 하기 전에 customer_list를 txt에 저장하고 종료
    '''
    with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f :
        for line in [customer.to_list_style() for customer in customer_list] :
            f.write(line)
            f.write('\n')
    print('백업하였습니다.')

In [282]:
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음
================================================================================

In [253]:
fn1_insert_customer_info()

이름 : -
이름을 제대로 입력하세요(한글로 2글만 이상) :
이름길동
전화 : 01045575728
메일 : bill@naver.com
나이 : 55
등급(1~5) : 5
기타 정보 : 0

In [257]:
customer_list = load_customers()
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-

*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-

*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-

   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음

   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음

   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음

 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해

  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음

================================================================================

In [283]:
fn9_save_customer_txt(customer_list)

백업하였습니다.

In [228]:
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음
================================================================================

In [229]:
customer_list = []

In [284]:
customer_list = load_customers()

In [285]:
fn2_print_customers(customer_list)

================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
  ***	정종혁	010-7621-5728	  whdgur@naver.com  	30 	없음
================================================================================

### 7. main함수 구현

In [290]:
def main() :
    customer_list = load_customers()
    while True :
        try :
            numb = int(input('1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(csv)|9:종료 메뉴 선택 : '))
            if numb not in [1,2,3,4,5,9] :
                raise Exception
            if numb == 1 :
                fn1_insert_customer_info()
            elif numb == 2 :
                fn2_print_customers(customer_list)
            elif numb == 3 :
                fn3_delete_customer(customer_list)
            elif numb == 4 :
                fn4_search_customer(customer_list)
            elif numb == 5 :
                fn5_save_customer_csv(customer_list)
            elif numb == 9 :
                fn9_save_customer_txt(customer_list)
                print('프로그램을 종료합니다.')
                break
        except :
            print('잘못된 접근입니다.')

In [291]:
if __name__ == '__main__' :
    main()

데이터를 로드하였습니다.
1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(csv)|9:종료 메뉴 선택 : 2
================================================================================
                                      고객정보
--------------------------------------------------------------------------------
GRADE	이름 	     전화      	         메일         	나이 	기타
================================================================================
*****	홍길동	010-1111-9999	   hong@naver.com   	23 	-
*****	홍길동	010-2222-9999	  hongs@naver.com   	27 	-
*****	홍길동	010-3333-9999	  hongs@naver.com   	27 	-
   **	신길동	010-1144-6688	   kims@naver.com   	37 	없음
   **	신길동	010-2244-6688	   kims@naver.com   	37 	없음
   **	신길동	010-3344-6688	   kims@naver.com   	37 	없음
 ****	신림동	010-1133-5577	   sims@naver.com   	73 	까칠해
================================================================================
1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(csv)|9:종료 메뉴 선택 : 9
백업하였습니다.
프로그램을 종료합니다.